.Grid {
    display: grid;
    grid-template-columns: min-content 1fr min-content min-content;
    grid-column-gap: 10px;
    margin-top: 15px;
}

.Header {
    color: gray;
}

.Cta, .Cli, .Deb, .Hab {
    white-space: nowrap;
}

.Cta, .Cli {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Deb, .Hab {
    text-align: right;
}

