.PropertyGrid {
    display:grid;
    grid-template-columns: min-content 1fr;
}
    .PropertyGrid .Label {
        background-color: #EEEEEE;
        padding: 4px 7px 2px 4px;
        border-bottom: 1px solid white;
    }
    .PropertyGrid .Value {
        padding: 4px 7px 2px 4px;
        border-bottom: 1px solid #AAAAAA ;
    }