.Wrapper {
    max-width: 400px;
}

.Row {
    display: flex;
    justify-content: space-between;
    border-bottom-width;
}

    .Row a, .Order a {
        display: block;
    }


.Order {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid gray;
    padding-top:10px;
}

.Location {
    color:gray;
}

.Eur {
    white-space:nowrap;
}