.Wrapper {
    max-width: 400px;
}

.Summary {
    margin-top: 10px;
}

.Item {
    display: block;
    margin-top: 10px;
    border-top: 1px solid gray;
    padding-top: 10px;
}

.Nom, .Position, .Age {
    color:gray;
}

.Obsoleto {
    color: gray;
}
