.Wrapper {
    max-width:400px;
}
.Grid {
    margin-top:10px;
}
.Item {
    display: flex;
    flex-direction: row;
    padding:5px;
}

.Item:not(:first-child) {
    border-top:1px solid gray;
}

.Details{
    width:100%;
}

.FirstRow {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.Ico {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.Devengat, .Liquid {
    white-space: nowrap;
    text-align: right;
    color: gray;
}
