input {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.Hidden {
    display: none !important;
}

.Relative {
    position:relative;
}

.Body {
    padding-bottom: 20px;
    font-family: Open Sans, Arial;
    font-size: 16px;

    /* Set padding to keep content from hitting the edges */
    padding-left: 15px;
    padding-right: 15px;
}

.ModalContainer:has(.Modal) {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
/*    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);*/
}

.DropShadow {
    position: absolute;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    min-height: 100px;
    /*margin: 10px auto;*/
    background: white;
    border-radius: 5px;
    padding: 10px;
    width: min-content;
    z-index: 10;
}

.ContextMenu {
    position: absolute;
    top:17px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    min-height: 100px;
    /*margin: 10px auto;*/
    background: white;
    border-radius: 5px;
    padding: 10px;
    width: min-content;
    z-index: 10;
}

.PageWrapper600 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
}

.PageWrapper900 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 900px;
}

.Truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.PageTitle {
    padding: 0 7px 2px 0;
    font-size: 1.2em;
    color: #333333;
    font-weight: 700;
}

.Nom {
    display: flex;
    justify-content: flex-start;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.Num {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
}


.Content {
    max-width: 600px;
}

    .Content h1 {
        padding: 20px 7px 2px 0;
        font-size: 1.2em;
        color: #333333;
        font-weight: 700;
    }

        .Content h1:first-child {
            padding-top: 0;
        }

    .Content h2 {
        padding: 20px 7px 2px 0;
        font-size: 1.2em;
        color: #666666;
        font-weight: 700;
    }

    .Content h3 {
        padding: 20px 7px 2px 0;
        font-size: 1.2em;
        color: #999999;
        font-weight: 700;
    }

.GridRowDivider {
    grid-column: 1/-1;
    height: 1px;
    border-bottom: 1px solid #DDDDDD;
}

.Button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    border-color: #198754;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid gray;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: button;
}

.ButtonOk {
    color: #fff;
    background-color: #198754;
}

.ButtonLemon {
    background-color: lemonchiffon;
}

.Button:disabled {
    color: gray !important;
    background-color: #DDDDDD !important;
}

.Button:not(:disabled):hover {
    color: #fff;
    background-color: #5a95f5 !important;
}



/*------------------------ desktop ----------------------*/

@media (min-width:600px) {

    .HideOnDesktop {
        display: none !important;
    }
}

/*------------------------ mobiles ----------------------*/

@media (max-width:599px) {

    .HideOnMobile {
        display: none !important;
    }
}
