.Plugin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12.8px;
}

    .Plugin .ChevronLeft, .Plugin .ChevronRight {
        display: none;
    }

    .Plugin > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

        .Plugin > div > a {
            display: flex;
            flex-direction: column;
            align-self: self-end;
            width: 150px;
            color: black;
        }

            .Plugin > div > a img {
                margin: 0;
                height: auto;
            }

        .Plugin > div a > div:last-child {
            word-wrap: normal;
            text-align: center;
        }

.ProductPluginItem {
    text-align: center;
}

    .ProductPluginItem .BuyIt {
        margin: 5px;
        padding: 4px 7px 2px 4px;
        background: #FFC733;
        border-radius: 5px;
        border-color: #D5D9D9;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        text-decoration: none !important;
        vertical-align: middle;
    }

    @media screen and (max-width:540px) {
        .Plugin .ChevronLeft {
/*        display: block;
*/        width: 36px;
    }

    .Plugin .ChevronRight {
/*        display: block;
*/        width: 36px;
        margin-left: 5px;
    }

        .Plugin > div {
            display: flex;
            flex-wrap: nowrap;
            /*        
                    overflow-x: auto;
                    overflow-y: hidden;
            */ 
            justify-content: flex-start;
            width: 100%;
        }

    .PluginWrapper {
        width: 100%;
        display: flex;
    }

        .Plugin {
            width: 100%;
            overflow-x: scroll;
/*            -webkit-overflow-scrolling: touch;
*/        }

        .PluginWrapper ::-webkit-scrollbar {
            display: none;
        }
            .Plugin ::-webkit-scrollbar {
                display: none;
            }
            .Plugin > div::-webkit-scrollbar {
                display: none;
            }
}
