@page "/auth/callback"
@using Identity.Manager.Services
@inject NavigationManager Nav
@inject PKCEAuthService Auth


<h3>Signing you in...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var uri = Nav.ToAbsoluteUri(Nav.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        var code = query["code"];

        if (!string.IsNullOrWhiteSpace(code))
        {
            await Auth.HandleCallbackAsync(code);
            Nav.NavigateTo("/");
        }
        else
        {
            Nav.NavigateTo("/login");
        }
    }
}