.Wrapper {
    padding: 10px;
    position: relative;
}


.Title {
    font-family: "CntryGthc","Century Gothic",CenturyGothic,Helvetica,sans-serif;
    font-size: 30px;
    text-align: center;
}

.DocItems {
    display:flex;
    flex-direction: column;
    gap:10px;
}

.DocItems .Item {
    display: flex;
    gap: 10px;
}

    .DocItems .Item .Img {
        width: 140px;
        height: auto;
    }

    .DocItems .Item .Img img {
        width: 100%;
    }

.SkusGrid .ProductPluginItem{
    display:grid;
    grid-template-areas:"thumbnail caption"
        "thumbnail buyit";
    grid-template-columns: 150px 1fr;
    border-bottom:1px solid gray;
}

.SkusGrid .Thumbnail {
    grid-area: thumbnail;
}

.SkusGrid .Caption {
    grid-area: caption;
    text-align:left;
}

.SkusGrid .BuyIt {
    grid-area:buyit;
    max-width:150px;
    text-align:left;
}

/*
.Gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 10px;
    padding: 10px 0;
}

.Item {
    display: block;
    text-align: center;
}

    .Item .Caption {
        font-family: "CntryGthc","Century Gothic",CenturyGothic,Helvetica,sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #AAAAAA;
    }

    .Item:hover .Caption {
        color: #333333;
    }

    .Item img {
        max-width: 100%;
        height: auto;
    }

.Warning {
    max-width:350px;
    margin:30px auto;
}*/