@* ----------- 4moms ------------*@

@page "/{LangSegment}/Login"
@page "/Login"

@inherits _PageBase
@inject CookieService cookie

<div class="Wrapper600">
    <AuthorizeView>
        <Authorized>
            <div>
                Welcome, @user?.Nickname
            </div>
        </Authorized>

        <NotAuthorized>

            <div class="SignIn">
                <SignIn Success="@SignInSuccess" Fail="SignInFail"></SignIn>
            </div>

        </NotAuthorized>
    </AuthorizeView>

    <Error Exception="exception"></Error>
</div>

<PageTitle>4moms | Login</PageTitle>

<HeadContent>
    <meta name="robots" content="noindex, nofollow" />
</HeadContent>

@code {

    UserModel? user;

    private Exception? exception;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            user = await base.GetUser(); 
        base.OnAfterRender(firstRender);
    }

    private void SignInFail(ProblemDetails args)
    {
        exception = args.ToException();
    }

    private void SignInSuccess(UserModel user)
    {
        NavigationManager?.NavigateTo("/", true);
    }
}