
.WhatsApp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    z-index: 100;
}

    .WhatsApp ::deep svg {
        width: 60px;
        height: 60px;
    }
