.Wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: 100%;
}

h1 {
    margin-top: 0;
}

.Wrapper img {
    margin-top: 10px;
}

.Plugin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12.8px;
}

    .Plugin .ChevronLeft, .Plugin .ChevronRight {
        display: none;
    }

    .Plugin > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

        .Plugin > div > a {
            display: flex;
            flex-direction: column;
            align-self: self-end;
            width: 150px;
            color: black;
        }

            .Plugin > div > a img {
                margin: 0;
                height: auto;
            }

        .Plugin > div a > div:last-child {
            word-wrap: normal;
            text-align: center;
        }

.StoreLocatorCallToAction {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

    .StoreLocatorCallToAction a {
        padding: 10px 20px;
        font-weight: 600;
        background-color: red;
        color: white;
        border-radius: 10px;
    }

        .StoreLocatorCallToAction a:hover {
            background-color: orange;
            color: white;
        }

@@media screen and (max-width:540px) {
    .Plugin .ChevronLeft {
        display: block;
        font-size: 36px;
    }

    .Plugin .ChevronRight {
        display: block;
        font-size: 36px;
        margin-left: 5px;
    }

    .Plugin > div {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
    }

    .PluginWrapper {
        width: 100%;
        display: flex;
    }

    .Plugin {
        width: 100%;
    }

        .Plugin > div::-webkit-scrollbar {
            display: none;
        }
}
