.Grid {
    display: grid;
    grid-template-columns: 178px 1fr;
    gap: 10px;
    margin-right:10px;
}

.Thumbnail, .Properties {
    display: block;
}

img {
    width:100%;
}

.Caption {
    font-weight: 600;
}

.Details {
    display: grid;
    grid-template-columns: 120px 1fr;
}

.Hidden {
    display:none;
}

.SeeMore {
    /*expands full row*/
    grid-column: 1/-1;
    display:flex;
    flex-direction:row;
    justify-content:end;
    cursor: pointer;
}
