.Layout {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.Header {
    grid-area: header;
    width: 100%;
    margin-bottom: 15px;
}

.Body {
    grid-area: body;
    height: 100%;
    /*    width: 100%;
*/ max-width: 100%;
}

.Menu {
    grid-area: menu;
}

.Noticias {
    grid-area: noticias;
}


/* ------------- mobiles -----------------*/

@media(max-width:599px) {
    .Layout {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .HideOnMobile {
        display: none;
    }

    .Layout.WideMode .Noticias {
        display: none;
    }
}

/* ------------- desktop -----------------*/


@media(min-width:600px) {
    .Layout {
        display: grid;
        grid-template-columns: minmax(150px,265px) minmax(50%,1fr);
        grid-template-rows: max-content 1fr;
        gap: 10px;
        padding: 10px;
        grid-template-areas: "header header"
            "menu body"
    }

    .Noticias {
        display: none;
    }
}

@media(min-width:900px) {
    .Noticias {
        display: block;
    }

    .Layout {
        display: grid;
        grid-template-columns: 265px minmax(50%,1fr) 265px;
        gap: 10px;
        padding: 10px;
        grid-template-areas: "header header header"
            "menu body noticias"
    }

        .Layout.WideMode {
            grid-template-columns: 265px minmax(50%,1fr);
            grid-template-areas: "header header"
                "menu body"
        }

            .Layout.WideMode .Noticias {
                display: none;
            }
}



