@inherits _Base
@using System.Linq

<div class="Wrapper @(Vertical ? "Vertical" : "")">


        @if (storeLocator?.Offline.Countries.Any() ?? false)
        {
            <div class="StoreLocatorOffline">
            <StoreLocatorOffline Caption="@caption" Value="storeLocator.Offline"></StoreLocatorOffline>
            </div>
        }

        @if (storeLocator?.Online.LandingPages.Any() ?? false)
        {
        <div class="StoreLocatorOnline">
            <StoreLocatorOnline Model="storeLocator.Online"></StoreLocatorOnline>
        </div>
    }


    <Error Exception="exception"></Error>
</div>

@code {
    [Parameter] public ProductModel? Product { get; set; }
    [Parameter] public string? Caption { get; set; }
    [Parameter] public bool Vertical { get; set; }
    string? caption;
    StoreLocatorDTO? storeLocator { get; set; }
    Exception? exception;

    protected override async Task OnParametersSetAsync()
    {
        caption = string.IsNullOrEmpty(Caption) ? Lang().Tradueix("¿Dónde comprar?", "On comprar?", "Store locator", "Onde comprar?") : Caption;

        try
        {
            storeLocator = await Post2Async<ProductModel, StoreLocatorDTO>(Product!, "storelocator", base.Lang().Tag());
        } catch(Exception ex)
        {
             exception = ex;
        }
    }
}
