@inherits _ComponentBase
@using System.Net.Http.Formatting

<div>

    @if (Model != null)
    {

        <EditForm Model="@Model" OnValidSubmit=@ValidFormSubmitted >
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                Nom: <InputText @bind-Value="Model.Nom" class="form-control" />
            </div>
            <div class="form-group">
                Ref.Cadastral: <InputText @bind-Value="Model.Cadastre" class="form-control" />
            </div>

            <br />

            <div class="Buttons">
                <!--<button type="submit" form="my-form-ref" class="btn btn-success" value="Update"/>-->
                <button type="submit" class="btn btn-success">Update</button>
                <input type="button" class="btn btn-secondary" value="Delete" />
                <input type="button" class="btn btn-secondary" value="Cancel" />
            </div>

        </EditForm>
    }

</div>
@code {

    private ImmobleDTO? _model;

    [Parameter]
    public ImmobleDTO? Model
    {
        get => _model;
        set
        {
            if (_model == value ) return;
            _model = value;
            ModelChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<ImmobleDTO> ModelChanged { get; set; }   

    [Parameter]
    public EventCallback<ImmobleDTO> SaveRequest { get; set; }   



    async void ValidFormSubmitted(EditContext editContext)
    {
        if(editContext.IsModified())
        {
            ImmobleDTO model = (ImmobleDTO)editContext.Model;
            var url = Globals.ApiUrl("Immoble");

            var content = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
            var response = await base.http.PostAsync(url, content, new JsonMediaTypeFormatter());
            if ((int)response.StatusCode == 200)
                NavigationManager.NavigateTo("Immobles");
            else
                throw new Exception("error on updating immoble");
        }
    }



}