@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.Linq
@inject ProtectedLocalStorage ProtectedLocalStore

<div class="Wrapper">

        @if(Model?.Offline.Countries.Any() ?? false)
        {
            <StoreLocatorOffline Model="Model.Offline"></StoreLocatorOffline>
        }

        @if(Model?.Online.LandingPages.Any() ?? false)
        {
            <StoreLocatorOnline Model="Model.Online"></StoreLocatorOnline>
        }

    </div>



@code {
    [Parameter]
    public StoreLocatorDTO? Model { get; set; }
}
