html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "SF Pro Text","Myriad Set Pro",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","SF Pro Icons","Apple Legacy Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

* {
    box-sizing: border-box;
}


a {
    text-decoration:none;
}

    a:link, a:visited {
        color:black;
    }

    a:hover, a:active {
        color:darkgray;
    }

    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

    .Hidden {
        display:none;
    }

.Wrapper600 {
    max-width:600px;
    display:flex;
    flex-direction: column;
    gap:15px;
    padding:10px;
}

.RightAlign {
    display:flex;
    justify-content:flex-end;
}

.ButtonsBar {
    display:flex;
    justify-content: flex-end;
}

.Button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    border-color: #198754;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: button;
}

.ButtonOk {
    color: #fff;
    background-color: #198754;
}

.ButtonLemon {
    background-color: lemonchiffon;
}

.Button:disabled {
    color: gray !important;
    background-color: #DDDDDD !important;
}

.Button:not(:disabled):hover {
    background-color: #5a95f5 !important;
}