@inject IAppSecretsService SecretsService
@inject ModalService Modal

<div class="dialog">
    <h3>@(IsNew ? "Add Secret" : "Edit Secret")</h3>

    @if (IsNew)
    {
        <div class="mb-2">
            <label>Provider</label>
            <input class="input" @bind="CreateModel.Provider" />
        </div>

        <div class="mb-2">
            <label>Client ID</label>
            <input class="input" @bind="CreateModel.ClientId" />
        </div>

        <div class="mb-2">
            <label>Client Secret</label>
            <input class="input" type="password" @bind="CreateModel.ClientSecret" />
        </div>
    }
    else
    {
        <div class="mb-2">
            <label>Provider</label>
            <input class="input" @bind="UpdateModel.Provider" />
        </div>

        <div class="mb-2">
            <label>Client ID</label>
            <input class="input" @bind="UpdateModel.ClientId" />
        </div>

        <div class="mb-2">
            <label>Client Secret</label>
            <input class="input" type="password" @bind="UpdateModel.ClientSecret" />
        </div>
    }

    <div class="row mt-3">
        <button class="btn btn-primary col" @onclick="Save">Save</button>
        <button class="btn btn-secondary col" @onclick="() => Modal.Close()">Cancel</button>
    </div>
</div>

@code {
    [Parameter] public Guid? SecretId { get; set; }
    [Parameter] public Guid? AppId { get; set; }

    private bool IsNew => SecretId is null;

    private CreateAppSecretRequest? CreateModel;
    private UpdateAppSecretRequest? UpdateModel;

    protected override async Task OnInitializedAsync()
    {
        if (IsNew)
        {
            CreateModel = new CreateAppSecretRequest
            {
                AppId = AppId!.Value
            };
        }
        else
        {
            var result = await SecretsService.GetAsync(AppId!.Value, SecretId!.Value);

            if (!result.Success)
            {
                Modal.Close();
                return;
            }

            var dto = result.Value;

            UpdateModel = new UpdateAppSecretRequest
            {
                Id = dto.Id,
                AppId = AppId!.Value,
                Provider = dto.Provider,
                ClientId = dto.ClientId,
                ClientSecret = "" // user must re-enter
            };
        }
    }

    private async Task Save()
    {
        if (IsNew)
        {
            var result = await SecretsService.CreateAsync(AppId!.Value, CreateModel!);
            if (result.Success)
                Modal.Close(true);
        }
        else
        {
            var result = await SecretsService.UpdateAsync(AppId!.Value, UpdateModel!);
            if (result.Success)
                Modal.Close(true);
        }
    }
}
