@page "/authentication/logout"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<RemoteAuthenticatorView Action="logout">
    <LoggingOut>
        <div class="mt-5 text-center">
            <h3>Signing you out…</h3>
        </div>
    </LoggingOut>
</RemoteAuthenticatorView>