.Grid {
    display:grid;
    grid-template-columns:minmax(100px,min-content) repeat(4,1fr);
    width:100%;
    column-gap:10px;
}

.Row, .ColHeaders {
    display:contents;
}

.ColHeaders div {
    padding-bottom:10px;
    color:gray;
}

.Grid div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}