@{
    ViewData["Title"] = "Gen.Maui Marketing";
}

<div style="max-width:600px;">
    <h2>Descripció</h2>
    <p>La app Gen.Maui es un repositori de fonts documentals històriques i persones mencionades de suport per a la recerca genealogica</p>

    <h2>Fabricant</h2>
    <p>Aquesta app ha estat desenvolupada per Matias Masso l'any 2022 amb Microsoft Maui'</p>
</div>