@page "/"
@inject AppState AppState

<PageTitle>Index</PageTitle>

@if(SessionProvider != null)
{
    <p role="status">AppState count: @AppState.Counter</p>

    <button class="btn btn-primary" @onclick="@(()=>AppState.Counter+=1)">Click me</button>
    <p role="status">Session count: @SessionProvider.Session.Counter</p>

    <button class="btn btn-primary" @onclick="(()=>SessionProvider.Session.Counter+=1)">Click me</button>
}


@code {
    [CascadingParameter] SessionProvider? SessionProvider { get; set; }
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

