.Wrapper {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display:flex;
    justify-content: space-between;
}

        .Wrapper:before {
            position:absolute;
            top:6px;
            content: url(/img/warning-32.png);

        }

.Reason {
    display: block;
    padding: 0 50px;
}

.Compact {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


    .Dismiss {
        display:block;
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

