.Wrapper {
    position: relative;
}

.Wrapper input[type=text] {
    border: 1px solid gray;
    width: 100%;
}

        .Wrapper input[type=text]:focus {
            outline: none;
        }

.ClearTextButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 15px;
}

::deep .Item {
    padding: 5px 0;
}
