.Plugin {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .Plugin .ChevronLeft, .Plugin .ChevronRight {
        display: none;
    }

    .Plugin > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

        .Plugin > div > a {
            display: block;
            width: 150px;
        }

        .Plugin > div a > div:last-child {
            word-wrap: normal;
            text-align: center;
        }

@media screen and (max-width:540px) {
    .Plugin .ChevronLeft, .Plugin .ChevronRight {
        display: block;
        font-size: 36px;
    }

    .Plugin > div {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

        .Plugin > div::-webkit-scrollbar {
            display: none;
        }
}
