
    .pagewrapper {
        max-width: 1000px;
    }
    
            .Download {
            float: right;
            margin-right: 0px;
            margin-left: 20px;
        }

    .ToolStrip a img {
            float:right;
            margin-right:0px;
            margin-left:20px;
        }

        @media screen and (max-width:500px) {
    .Servido, .Pendiente {
        display:none;
    }

    .pagewrapper {
        width:100%;
    }


}