/*En continguts, sabiasque...*/

.VideoGallery {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat( auto-fill, minmax(265px, 1fr) );
    font-size: 0.8em;
}

    .VideoGallery .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }

        .VideoGallery .iframe-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
