.BannerRotator {
    position: relative;
    margin-bottom: 10px;
}

/* Next & previous buttons */

    .BannerRotator .prev, .BannerRotator .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .BannerRotator .prev {
        left: 0;
        border-radius: 0 5px 5px 0;
    }

    .BannerRotator .next {
        right: 0;
        border-radius: 5px 0 0 5px;
    }

    .BannerRotator:hover .dots {
        display: block;
    }

    .BannerRotator:hover .prev, .BannerRotator:hover .next {
        background-color: rgba(0,0,0,0.6);
    }

        /* On hover, add a black background color with a little bit see-through */
        .BannerRotator .prev:hover, .BannerRotator .next:hover {
            background-color: rgba(0,0,0,0.9);
        }


/* The dots/bullets/indicators */

    .BannerRotator .dots {
        display:none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        text-align: center;
    }

    .BannerRotator .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

        .BannerRotator .active, .BannerRotator .dot:hover {
            background-color: #717171;
        }


@media (max-width:600px) {


}


