table {
    border-collapse: collapse;
}

.ContentColumn {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
}

.CustomerProductSelection select {
    width: 100%;
    padding: 4px 7px 2px 4px
}

.CustomerProductSelection {
    display: inline-block;
    width: 300px;
}

.Spinner {
    position: absolute;
    background-image: url('../../Media/Img/preloaders/Spinner150.gif');
    background-repeat: no-repeat;
    left: 75px;
    top: 0px;
    width: 150px;
    height: 150px;
    /*visibility: hidden;*/
    z-index: 1000;
}


.Error {
    color: red;
}


#Qty {
    width: 50px;
    text-align: right;
    margin-top: 5px;
}

#ButtonAdd {
    float: right;
    margin-top: 5px;
    width: 85px;
}


.SubmitButtons {
    display: flex;
    justify-content: space-between;
}

    .SubmitButtons span {
        text-align: left;
        flex-grow: 10;
    }

    .SubmitButtons input[type=button] {
        text-align: right;
        flex-grow: 1;
    }

