.gallery {
    display: grid;
    /*
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        */
    grid-template-columns: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-gap: 15px;
    margin: 20px 0;
    max-width: 100%;
}

.gallery .item {
    border: 1px solid #DDDDDD;
    padding: 5px;
    /*
    max-width: 150px;
    */
}

    .gallery .item img {
        width:100%;
    }

        .caption {
            font-size: 0.8em;
            /*
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            */
            text-align: center;
        }


@media (max-width: 900px) {
    .gallery {
        /*
         grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
       */
    }
}


@media (max-width: 700px) {
    .gallery {
        /*

        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        */
    }
}