.gallery {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 20px;
}

    .gallery .item {
        position: relative;
        max-width: 410px;
    }

        .gallery .item img {
            width: 100%;
        }

.caption {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    background-color: rgba(0,0,0,0.3);
    font-size: 1.7vw;
    font-weight: 700;
    color: white;
    flex: 1 1 0;
}




@media (max-width: 700px) {
    .gallery {
        grid-template-columns: minmax(0, 1fr);
    }

    .caption {
        font-size: 1.5em;
        font-weight: 700;
        color: white;
        flex: 1 1 0;
    }
}
