.pagination {
    /*
    display: inline-block;
    text-align: center;
        */
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
