/* The side navigation menu */

.popSidenav {
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    background-color: #fff; /* White*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 20px 20px 10px grey;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.popSidenav::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.popSidenav {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

    .popSidenav.popup {
        left: 0;
    }

    .popSidenav.popdown {
        max-width: 250px;
        left: -280px;
    }

    .popSidenav.PopupSearch {
        width:100%;
        max-width:500px;
    }

    .popSidenav .popButtonsBar {
        position: absolute;
        top: 0;
        left: 20px;
        right: 0;
        height: 50px;
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: center;
    }

        .popSidenav .popButtonsBar form {
            width: 100%;
        }

        .popSidenav .popButtonsBar a {
            display:block;
        }



    .popSidenav .SearchBox {
        display: none;
        box-sizing: border-box;
        width:100%;
    }

        .popSidenav .SearchBox.PopupSearch {
            display: inline-block;
            width: 100%;
        }



    .popSidenav .searchbtn {
        padding: 10px 10px 8px 10px;
    }
    
    .popSidenav .closebtn {
        font-size: 36px;
        padding: 0 20px 0 10px;
    }

    .popSidenav .sidenav {
        padding: 0 20px;
        margin: 0;
    }


.sidenav {
    min-width: 250px;
}

.sidenav .Logo-container {
    margin-bottom: 30px;
    text-align: left;
}

.sidenav .Logo-container img {
    height:48px;
    width:auto;
}

    .sidenav .dropdown2 {
        position: relative;
        display: block;
        cursor: pointer;
    }


    .sidenav .dropdown-content2 {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

        .sidenav .dropdown-content2 div {
            padding: 4px 12px;
        }


            .sidenav .menuItems a, .sidenav .menuItems span {
                display: block;
                color: darkgray;
                font-weight: 600;
                padding: 4px 0 2px 0;
            }

                .sidenav .menuItems a:hover, .sidenav .menuItems span:hover {
                    color: #167ac6;
                }


    .sidenav .LangSelector {
        border: 1px solid gray;
        font-size: 1em;
        color: darkgray;
        font-weight: 600;
        padding: 0;
        margin: 0;
    }


/* The navigation menu links */
.sidenav .check-box, .sidenav .unchecked-box, .sidenav .subtitle, .sidenav .title {
    padding: 0px 8px 0px 32px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
    font-weight: 400;
}

.sidenav .title {
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 20px;
}

.sidenav .subtitle {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 10px;
    color: #606060;
}

.sidenav .SingleLevel {
    color: black;
    font-weight: 500;
    padding: 0px 8px 0px 32px;
}

.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidenav .unchecked-box {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

    .sidenav .unchecked-box::before {
        content: "\2610";
        color: black;
        display: inline-block;
    }

.sidenav .check-box::before {
    content: "\2612";
}

/*-----------filters -----------*/

.filtersTitle {
    color: darkgray;
    font-weight: 600;
    padding: 4px 0 2px 0;
    margin: 30px 0 20px 0;
}

.filters {
    padding: 0 0 20px 0;
}

.filters > div > input[type=checkbox] {
    color: darkgray;
    font-weight: 600;
    padding: 15px 0 2px 0;
}

.filterItem {
    padding-left: 20px;
    display: none;
}







/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
