.Wrapper {
    width:100%;
}

.Display {
    display: flex;
    align-items: center; /*centers inner text vertically*/
    border: 1px solid gray;
    min-height: 24px;
    width: 100%;
    max-width: 100%;
}

.OverLength {
    background-color: lightsalmon;
}

input {
    background-color: chartreuse;
    min-height: 24px;
    width: 100%;
    max-width: 100%;
}

