.Grid {
    display: grid;
    grid-template-columns: min-content 4ch 1fr;
    grid-column-gap: 1rem;
}

.Item{
    display:contents;
}

    .Item:hover a {
        background-color: var(--hover-background-color, #f0f0f0);
    }