/*issues found?*/

.Wrapper {
    max-width: 300px;
    margin: 100px auto 0;
}

.Label {
    font-size: .9em;
    margin-bottom: 5px;
}

.Value {
    margin-bottom: 15px;
}

    .Value input {
        padding: 6px;
        font-size: 1.3em;
    }

.Submit {
    margin-top: 22px;
    font-size: 1.2em;
    width: 100%;
}

input[type=email], input[type=password] {
    width: 100%;
}

.Err {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    color: red;
    font-weight: 700;
}
