<div class="Wrapper">
    <a href="#" @onclick="Rotate" @onclick:preventDefault>
        @if (Value == PersonModel.Sexs.Male)
        {
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M424 32h-112C298.8 32 288 42.75 288 56s10.75 24 24 24h54.06L281.8 164.3C250.5 140.6 213.4 128 176 128C130.1 128 85.92 145.2 51.55 179.5c-68.73 68.73-68.73 180.2 0 248.9C85.92 462.8 130.1 480 176 480s89.91-17.18 124.3-51.55c62.92-62.92 67.71-161.2 15.44-230.2L400 113.9V168C400 181.3 410.8 192 424 192S448 181.3 448 168v-112C448 42.75 437.3 32 424 32zM266.5 394.5C242.3 418.7 210.2 432 176 432s-66.33-13.31-90.51-37.49c-49.91-49.91-49.91-131.1 0-181C109.7 189.3 141.8 176 176 176s66.34 13.32 90.51 37.5c.0039 .0039-.0039-.0039 0 0c.002 .002-.002-.002 0 0C316.4 263.4 316.4 344.6 266.5 394.5z" />
            </svg>
        }
        else if (Value == PersonModel.Sexs.Female)
        {
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path d="M368 176c0-97.2-78.8-176-176-176c-97.2 0-176 78.8-176 176c0 89.04 66.18 162.4 152 174.2V392h-48C106.8 392 96 402.8 96 416s10.75 24 24 24h48v48C168 501.3 178.8 512 192 512s24-10.75 24-24v-48h48c13.25 0 24-10.75 24-24s-10.75-24-24-24h-48v-41.82C301.8 338.4 368 265 368 176zM64 176c0-70.58 57.42-128 128-128c70.58 0 128 57.42 128 128s-57.42 128-128 128C121.4 304 64 246.6 64 176z" />
            </svg>
        }
        else
        {
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                <path d="M248 392h-48v-41.82C285.8 338.4 352 265 352 176c0-97.2-78.8-176-176-176c-97.2 0-176 78.8-176 176c0 89.04 66.18 162.4 152 174.2V392h-48c-13.25 0-24 10.75-24 24s10.75 24 24 24h48v48C152 501.3 162.8 512 176 512s24-10.75 24-24v-48h48c13.25 0 24-10.75 24-24S261.3 392 248 392zM176 304c-70.58 0-128-57.42-128-128s57.42-128 128-128c70.58 0 128 57.42 128 128S246.6 304 176 304zM616 0h-112C490.8 0 480 10.75 480 24s10.75 24 24 24h54.06l-52.29 52.29c-31.3-23.72-68.42-36.26-105.8-36.26c-15.19 0-30.15 2.657-44.93 6.565c8.125 13.74 14.89 28.38 19.71 43.9C382.9 112.9 391.4 112 400 112c34.19 0 66.33 13.31 90.51 37.49c49.91 49.91 49.91 131.1 0 181C466.3 354.7 434.2 368 400 368c-32.98 0-63.89-12.64-87.75-35.22c-12.23 10.64-25.65 19.9-40.12 27.49c1.252 1.33 2.115 2.881 3.416 4.182C309.9 398.8 354.1 416 400 416c45.04 0 90.09-17.18 124.5-51.55c62.92-62.92 67.54-161.2 15.26-230.2L592 81.94V136C592 149.3 602.8 160 616 160S640 149.3 640 136v-112C640 10.75 629.3 0 616 0z" />
            </svg>
        }
    </a>
</div>

@code {
    [Parameter] public PersonModel.Sexs? Value { get; set; }
    [Parameter] public EventCallback<PersonModel.Sexs> ValueChanged { get; set; }
    [Parameter] public EventCallback<Object> ObjChanged { get; set; }

    private void Rotate()
    {
        var value = Next();
        if(ValueChanged.HasDelegate)
            ValueChanged.InvokeAsync(value);
        if (ObjChanged.HasDelegate)
            ObjChanged.InvokeAsync(value);
    }

    private PersonModel.Sexs Next()
    {
        if (Value == PersonModel.Sexs.NotSet)
            return PersonModel.Sexs.Male;
        else if (Value == PersonModel.Sexs.Male)
            return PersonModel.Sexs.Female;
        else
            return PersonModel.Sexs.NotSet;
    }
}
