.Item {
    display:block;
}

@media(max-width:599px) {
    .Item {
        padding: 10px;
    }

        .Item:not(:last-child) {
            border: 1px solid gray;
        }
}

@media(min-width:600px) {
    .Item {
        padding: 4px 7px 2px 4px;
    }

}
