.MissingValuesGrid {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 10px;
}


.Grid {
    display: grid;
    grid-template-columns: min-content min-content 1fr min-content min-content min-content min-content min-content;
    column-gap: 10px;
    font-size: 0.8em;
}

.Nom {
    display:block;
    min-width: 100px;
}
