.Item {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas: "fch concept";
    grid-column-gap: 10px;
}

.Fch {
    grid-area: fch;
}

.Concept {
    grid-area: concept;
}
}