
.Item {
    display: block;
}

@media(max-width:599px) {
    .Wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .Item {
        padding: 10px 0;
    }

        .Item:not(:last-child) {
            border-bottom: 1px solid gray;
        }
}

@media(min-width:600px) {
    .Wrapper {
        display: flex;
        gap: 15px;
    }

    .Item {
        padding: 5px 0;
    }
}
