.Concept {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: baseline;
    margin-bottom: 15px;
}

.Concept input {
    max-width:100px;
}
.ButtonsBar{
    display:flex;
    justify-content: flex-end;
    margin-top:15px;
}
