.Wrapper {
    max-width: 450px;
    display:flex;
    flex-direction: column;
    gap: 15px;
}

.ShowObsolets {
    margin: 20px 0 10px;
}

.Summary {
    margin-top: 10px;
}

.Item {
    cursor: pointer;
}

.Emp {
    grid-column: 1/-1;
    margin:15px 0 10px;
}

    .Emp .Nom {
        font-weight: 600;
    }



/*------------------------ desktop ----------------------*/

@media (min-width:600px) {

    .Grid {
        display: grid;
        grid-template-columns: min-content 1fr min-content min-content;
        margin-top: 15px;
        grid-column-gap: 1px;
    }

    .ColumnHeaders {
        color: gray;
    }

    .Item {
        display: contents;
    }

        .Item > div {
            padding: 0 7px;
        }

    .Obsoleto > div {
        background-color: #DDDDDD;
    }

    .Obsoleto .GridRowDivider {
        border-bottom-color: white;
    }

    .Nom, .Position {
        padding-right: 10px;
    }

    .Age, .Seniority {
        text-align: right;
        padding-left: 10px;
    }

    .ContextMenu {
        position: absolute;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: #FEFFD5;
        left: 20px;
        z-index: 10;
        width: min-content;
        max-width: 100%;
        border: 1px solid black;
    }

    .GridRowDivider {
        position: relative;
    }
}

/*------------------------ mobiles ----------------------*/

@media (max-width:599px) {

    .Item {
        display: block;
        padding: 7px;
    }

    .Nom, .Position, .Age {
        color: gray;
    }

    .Obsoleto {
        color: gray;
    }
}
