.Avatar {
    display: block;
    background-size: cover;
    /* center the image vertically and horizontally */
    background-position: top center;
    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    border: 3px solid #555;
    max-width: 100%;
    max-height:100%;
}
