.Wrapper {
    position:relative;
}
input {
    padding: 3px 0 2px 30px;
/*    background-image: url("/img/Lupa-20.png");
    background-repeat: no-repeat;
    background-position: 5px center;
*/    width: 100%;
    border-color: #DDDDDD;
    -webkit-appearance: none;
    border-radius: 4px;
}

.Lupa {
    position: absolute;
    width: 1rem;
    left: 5px;
    top: 4px;
}