a {
    text-decoration: none;
    color: black;
}

.Wrapper {
    position: relative;
    width: min-content;
}

.Dropzone {
    display: flex;
    border: 3px dotted #fb275d;
    width: 350px;
    height: 400px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: azure;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

    .Dropzone .Info {
        position: absolute;
        width: 100%;
        padding: 100px 10px;
        text-align: center;
    }

    .Dropzone.Hover {
        background-color: #00ca71;
    }


.Dropdown {
    position: absolute;
    top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background-color: white;
    min-width: 100px;
    width: min-content;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    z-index: 2;
    padding-top: 5px;
}

.PersistedInput {
    width: 1px;
    height: 1px;
}

.Item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 4px 10px 2px;
}


    .Item.Selected {
        align-items: baseline;
        background-color: #DDDDDD;
    }

.Nom {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.XMark {
    width: 0.7em;
}

.HideOnDesktop {
    display: block;
    width: 24px;
    padding: 0 10px;
}

.Features {
    text-align: center;
    background-color: azure;
    border: 1px solid #DDDDDD;
}

.IsNew {
    background-color: antiquewhite;
}

.Hover {
    border-style: solid;
    /*background-color: #00ca71;*/
}

::deep input[type=file] {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.NoSize {
    width: 1px;
    height: 1px;
}


@media(min-width:599px) {
    .HideOnDesktop {
        display: none;
    }
}
