.Wrapper {
    position:relative;
}

.Nom {
    display:block;
    font-size: 1.0rem;
}

    .Textbox :focus {
        outline: none;
    }

.Item {
    display: block;
    padding: 4px 7px 2px 4px;
    border-bottom: 1px solid #DDDDDD;
}

.Dropdown {
    position: absolute;
    left: 0;
    right: 0;
    width: min-content;
    z-index: 2;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    max-height:200px;
    background: white;
    border-radius: 5px;
    overflow-y:auto;
}

@media(max-width:600px) {

    .Item {
        padding: 10px;
    }

}

@media(min-width:600px) {

}
