.Wrapper {
    display: flex;
    flex-direction: column;
        padding: 10px;
}

.Parent {
    background-color:azure;
}

.Item:not(:last-child) {
    border-bottom: 1px solid #DDDDDD;
}


@media(max-width:599px) {
    .Item, .Parent {
        padding: 10px;
    }
}

@media(min-width:600px) {
    .Item, .Parent {
        padding: 4px 7px 2px 4px;
    }
}