    .Wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /*gap:10px;*/
    }

        .Wrapper ::deep > * {
            padding: 0 10px;
            white-space: nowrap;
        }

            .Wrapper ::deep > *:first-child {
                padding: 0 10px 0 0;
                text-align: left;
            }

            .Wrapper ::deep > *:not(:first-child) {
                border-left: 1px solid black;
            }

