.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.CloseButton {
    min-width:24px;
    width: 24px;
    opacity: .3;
}

    .CloseButton:hover {
        opacity: 1.0;
    }
