.Wrapper {
    width: 200px;
    margin-left: 100px;
    margin-top:100px
}

.Wrapper img {
    width:100%;
    height:auto;
}

.Label {
    padding:10px;
    min-height:30px;
    border:1px solid gray;
}