@inherits _Base

@if (model == null)
{
    <Loading></Loading>
}
else
{
    <div class="Wrapper">
        <div class="Breadcrumbs">
            <Breadcrumbs Model="breadcrumbs"></Breadcrumbs>
        </div>

        <div class="Content">

            <div class="Img">
                <img src="@ProductSkuModel.ImageUrl(model.Guid)" />
            </div>

            @if (pvr > 0)
            {
                <div class="Pvr">
                    <div>@base.Lang().Tradueix("Pvp","Pvp","Rrpp","Pvp")</div>
                    <div>@pvr.ToString("N2") €</div>
                </div>
            }

            @(model?.Content == null ? null : (MarkupString)model.Content)
        </div>

        <div id="StoreLocator">
            <StoreLocator Model="model.StoreLocator"></StoreLocator>
        </div>

        <Error ProblemDetails="problemDetails"></Error>
    </div>
}

@code {
    [Parameter] public Guid Guid { get; set; }
    private List<Box> breadcrumbs = new();
    private string? content;
    private ProductLandingPageDTO? model;
    private ProductSkuModel? sku;
    private decimal pvr;
    private ProblemDetails? problemDetails;


    protected override async Task OnParametersSetAsync()
    {
        if (model == null)
        {
            var apiResponse = await GetAsync<ProductLandingPageDTO>("ProductLandingPage", Guid.ToString());
            if (apiResponse.Success())
            {
                model = apiResponse.Value;
                sku = Cache.Sku(Guid);
                var rrpp = Cache.RetailPrices.FirstOrDefault(x => x.Guid == sku.Guid);
                pvr = rrpp == null ? 0 : rrpp.Value;
                breadcrumbs = model.Breadcrumbs(Cache, base.Lang());
            }
            else
                problemDetails = apiResponse.ProblemDetails;

        }
    }

}
