
.Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(220px, 100%), 1fr));
    width: 100%;
    margin-top:20px;
}
.Item {
    position: relative;
    display: block;
    margin: 5px;
    border: 1px solid #ccc;
}

    .Item:hover {
        border: 1px solid #777;
    }

    .Item img {
        width: 100%;
        height: auto;
    }

    .Item .Label {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 10px !important;
        background-color: rgba(0,0,0,0.3);
        font-size: 1.7vw !important;
        font-weight: 700;
        color: white;
        flex: 1 1 0;
        box-sizing: border-box;
    }


@media (max-width: 751px) {

    .Item .Label {
        font-size: 2.0vw !important;
    }
}

@media (max-width: 476px) {

    .Item .Label {
        font-size: 4.0vw !important;
    }
}

