@page "/EciStocks"
@inherits _Base
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div class="Wrapper">
    <h1>Stocks El Corte Ingles</h1>


    <div class="PageOptions">
        <PageOptions IsShowingOptions>
            <div>
                <UxFch Value="fch" ValueChanged="FchChanged" CanEdit="true"></UxFch>
            </div>
            <div>
                <AnchorLoading IsLoading="isBuildingExcel" OnClick="DownloadFileFromStreamAsync">Excel</AnchorLoading>
            </div>
        </PageOptions>
    </div>

    @if (xItems != null)
    {
        <TabControl>
            <TabPage Text="@Localizer("Products")">
                <ChildContent>
                    <EdiversaInvRptProducts Model="xItems"></EdiversaInvRptProducts>
                </ChildContent>
            </TabPage>
            <TabPage Text="@Localizer("Centers")">
                <ChildContent>
                    <EdiversaInvRptCenters Model="xItems"></EdiversaInvRptCenters>
                </ChildContent>
            </TabPage>
            <TabPage Text="@Localizer("Files")">
                <ChildContent>
                    <EdiversaInvRptFiles Model="model" ></EdiversaInvRptFiles>
                </ChildContent>
            </TabPage>
        </TabControl>
    }
    else
    {
        <Loading></Loading>
    }

    <Error ProblemDetails="problemDetails"></Error>
</div>

@code {
    [Parameter] public Guid Holding { get; set; }
    private List<EdiversaInvrptModel>? model;
    private List<EdiversaInvrptModel.Item> items;
    private List<XItem> xItems;
    private DateTime? fch;
    private bool isBuildingExcel;
    private ProblemDetails? problemDetails;


    protected override async Task OnParametersSetAsync()
    {
        Holding = HoldingModel.Wellknown(HoldingModel.Wellknowns.ElCorteIngles)!.Guid; // fake
        fch = DateTime.Today.Date;
        await FetchData();
    }

    private async Task FchChanged(DateTime? args)
    {
        fch = args;
        model = null;
        await FetchData();
    }

    private async Task FetchData()
    {
        var apiResponse = await PostAsync<DateTime, List<EdiversaInvrptModel>>((DateTime)fch!, "EdiversaInvRpts", Holding.ToString());
        if (apiResponse.Success())
        {
            model = apiResponse.Value;
            await InvokeAsync(StateHasChanged);

            Merge();
        }
        else
            problemDetails = apiResponse.ProblemDetails;
    }



    private void Merge()
    {
        xItems = new List<XItem>();
        foreach (var rpt in model)
        {
            foreach (var item in rpt.Items)
            {
                xItems.Add(new XItem(rpt, item, Cache));
            }
        }
    }

    public class XItem
    {
        public ProductSkuModel Sku { get; set; }
        public GuidNom Center { get; set; }
        public object Tag { get; set; }
        public string Ean { get; set; }
        public int Qty { get; set; }
        public decimal Rrpp { get; set; }
        public decimal Amt { get; set; }

        public XItem(EdiversaInvrptModel rpt, EdiversaInvrptModel.Item item, CacheDTO cache)
        {
            Tag = rpt;
            Center = rpt.StockHolder ?? new GuidNom(FromGln(rpt.NadGy));
            if (string.IsNullOrEmpty(Center.Nom)) Center.Nom = string.Format("GLN: {0}", rpt.NadGy);
            Qty = item.Qty;
            Sku = cache.Sku(item.Ean);
            Ean = item.Ean;
            if (Sku != null)
            {
                Rrpp = cache.SkuPrice(Sku.Guid) ?? 0;
                Amt = Qty * (decimal)Rrpp;
            }
        }

        private Guid FromGln(string gln) => new Guid(gln + new string('0', 32 - 13));
    }

    private async Task DownloadFileFromStreamAsync()
    {
        isBuildingExcel = true;
        await FetchData();
        var fileStream = GetFileStream();
        var fileName = string.Format("Stocks ElCorteIngles {0:yyyy.MM.dd}.xlsx", fch);

        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await JSRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
        isBuildingExcel = false;
    }

    private Stream? GetFileStream()
    {
        MemoryStream? retval = null;

        var sheet = new DTO.Excel.Sheet();
        sheet.AddColumn("Fecha");
        sheet.AddColumn("Documento");
        sheet.AddColumn("Centro");
        sheet.AddColumn("Marca comercial");
        sheet.AddColumn("Categoría");
        sheet.AddColumn("Producto");
        sheet.AddColumn("Ean");
        sheet.AddColumn("Ref.Fabricante");
        sheet.AddColumn("Ref.Cliente");
        sheet.AddColumn("Unidades");

        try
        {
            foreach (var rpt in model)
            {
                foreach (var item in rpt.Items)
                {
                    var center = rpt.StockHolder ?? new GuidNom(FromGln(rpt.NadGy));
                    if (string.IsNullOrEmpty(center.Nom)) center.Nom = string.Format("GLN: {0}", rpt.NadGy);

                    var sku = Cache.Skus.FirstOrDefault(x => x.Ean == item.Ean);
                    var category = sku == null ? null : Cache.Categories.FirstOrDefault(x => x.Guid == sku.Category);
                    var brand = category == null ? null : Cache.Brands.FirstOrDefault(x => x.Guid == category.Brand);
                    var row = sheet.AddRow();
                    row.AddCell(rpt.FchDoc.ToString("dd/MM/yy"));
                    row.AddCell(rpt.DocNum);
                    row.AddCell(center.Nom);
                    row.AddCell(brand?.Nom?.Esp);
                    row.AddCell(category?.Nom?.Esp);
                    row.AddCell(sku?.Nom?.Esp);
                    row.AddCell(item.Ean);
                    row.AddCell(item.SupplierRef);
                    row.AddCell(item.CustomerRef);
                    row.AddCell(item.Qty);
                }
            }

            var bytes = DTO.Excel.ClosedXml.Bytes(sheet);
            retval = new MemoryStream(bytes);
        }
        catch (Exception ex)
        {
            problemDetails = ProblemDetails.Factory(ex);
        }
        return retval;
    }

    private Guid FromGln(string gln) => new Guid(gln + new string('0', 32 - 13));

}


