.Grid {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-gap: 1px;
}


.Brand {

}

.Category {
    background-color: #C9EBEF;
}

.Sku {
    background-color: #94DFFF;
}

.Center {
    background-color: #69A6D1;
    color:white;
}

.Category {
/*    background-color: #DDDDDD;
    font-weight: 600;
*/}

.Stock, .Amt {
    text-align: right;
    padding: 0 4px;
    white-space: nowrap;
}
