@inherits _Base

<div class="PageWrapper600">
    <h1>Market places</h1>

    @if (model == null)
    {
        <Loading></Loading>
    }
    else
    {
        @if (selectedItem == null)
        {
            <PageOptions>
                <a href="#" @onclick="AddNew" @onclick:preventDefault>@Localizer("AddNew")</a>
            </PageOptions>

            <SearchBox @bind-Value="@searchTerm"></SearchBox>

            <div class="Summary">
                @Localizer("MarketPlaces.Found",model.Count().ToString())
            </div>

            <MarketPlaces_List Model="FilteredItems()" SelectedItemChanged="ItemClick"></MarketPlaces_List>

        }
        else
        {
            <MarketPlace Model="selectedItem" RequestToCancel="@(()=>selectedItem = null)" OnUpdate="OnUpdate" OnDelete="OnDelete"></MarketPlace>
        }

    }

    <Error ProblemDetails="problemDetails"></Error>


</div>

@code {
    List<MarketPlaceModel> model;
    string searchTerm;
    MarketPlaceModel selectedItem = null;
    new ProblemDetails problemDetails;

    protected async override Task OnInitializedAsync()
    {
        var apiResponse = await GetAsync<List<MarketPlaceModel>>("marketplaces", ((int)EmpModel.EmpIds.MatiasMasso).ToString());
        if (apiResponse.Success())
            model = apiResponse.Value;
        else
            problemDetails = apiResponse.ProblemDetails;
    }

    List<MarketPlaceModel> FilteredItems()
    {
        if (string.IsNullOrEmpty(searchTerm))
            return model;
        else
            return model.Where(x => x.Matches(searchTerm)).ToList();
    }

    private void ItemClick(MarketPlaceModel item)
    {
        selectedItem = item;
    }

    private void AddNew()
    {
        selectedItem = new MarketPlaceModel();
    }

    private void OnUpdate(MarketPlaceModel args)
    {
        var item = model.FirstOrDefault(x => x.Guid == args.Guid);
        if (item == null)
            model.Add(args);
        else
            model[model.IndexOf(item)] = args;
        model = model.OrderBy(x => x.Nom).ToList();
        selectedItem = null;
        StateHasChanged();
    }

    private void OnDelete(MarketPlaceModel args)
    {
        var item = model.FirstOrDefault(x => x.Guid == args.Guid);
        model.Remove(item);
        selectedItem = null;
        StateHasChanged();
    }



}
