
.Dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid red;
    background-color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    min-width: 250px;
    max-width: 320px;
    min-height: 100px;
    border-radius: 5px;
}

.Header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.Title {
    font-weight: 600;
    padding: 10px;
}

.fa-triangle-exclamation {
    --fa-secondary-color: gold;
}

.CloseButton {
    display: block;
    padding: 10px;
}

.Body {
    padding: 10px;
    overflow: auto;
}

.Footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

    .Footer a {
        display: block;
        padding: 4px 7px 4px 7px;
    }

        .Footer a:not(:first-child) {
            border-left: 1px solid gray;
        }

        .Footer a:hover {
            border: 1px solid gray;
            font-weight: 600;
        }

.CancelButton:hover {
    background-color:#DDDDDD;
}
.OkButton:hover {
    background-color: lightgreen;
}
.DeleteButton:hover {
    background-color: orangered;
}



