.Wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    margin-top: 15px;
}

    .Wrapper.Vertical {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }


@media (max-width: 600px) {
    .Wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

