.Wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.RightButtons {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

button {
    text-align:center;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: .375rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: 1px solid #DDDDDD;
    /*    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: button;
*/
}

    .Button.Ok:not(:disabled) {
        color: #fff;
        background-color: rgba(22,163,74,0.8);
    }

        .Button.Ok:not(:disabled):hover {
            background-color: rgba(22,163,74,1);
        }

    .Button.Cancel:not(:disabled) {
        color: black;
        background-color: rgba(139,139,139,0.5);
    }

        .Button.Cancel:not(:disabled):hover {
            color: white;
            background-color: rgba(139,139,139,1);
        }

    .Button.Del:not(:disabled) {
        color: #fff;
        background-color: rgba(180,0,0,0.5);
    }

        /*139 dark red*/

        .Button.Del:not(:disabled):hover {
            background-color: rgba(180,0,0,1);
        }


    .Button.Del {
        color: #fff;
        background-color: darkred;
    }

.Button.Updating {
    padding: .375rem 2rem;
}