.Wrapper {
    max-width:600px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 10px;
}

.ButtonsBar {
    height:21px;
}

.ButtonsBar img {
    height:100%;
}