.Step {
    position: relative;
    min-height: 1em;
    color: gray;
}

    .Step + .Step {
        margin-top: 1.5em
    }

    .Step > div:first-child {
        position: static;
        height: 0;
    }

    .Step > div:not(:first-child) {
        margin-left: 1.5em;
        padding-left: 1em;
    }

    .Step.Step-active {
        /*color: #4285f4*/
    }

        .Step.Step-active .Circle {
            background-color: #4285f4;
        }

.Circle {
    background: gray;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 0 3px #fff;
}

    /* Vertical Line */
    .Circle:after {
        content: ' ';
        position: absolute;
        display: block;
        top: 1px;
        right: 50%;
        bottom: 1px;
        left: 50%;
        height: 100%;
        width: 1px;
        transform: scale(1, 2);
        transform-origin: 50% -100%;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: -1;
    }

.Step:last-child .Circle:after {
    display: none
}

.Title {
    display:block;
    line-height: 1.5em;
    font-weight: bold;
}

.Caption {
    display: block;
    font-size: 0.8em;
}

.Body {
    margin:15px 0;
}
