.Wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    display:inline-block;
    min-width: 300px;
    min-height: 300px;
    border: 1px solid black;
    background-color: white;
    min-height: 200px;
    z-index:10;
}

.TitleBar {
    display:flex;
    justify-content:space-between;
    background-color:#DDDDDD;
    align-items:center;
}

.Title {
    padding:0 10px;
}

.CloseButton {
    padding: 0 10px;
}

.Content {
    padding: 10px;
}
