.Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.Membrete {
    display: flex;
    gap: 7px;
    align-items: center;
}

    .Membrete img {
        max-width: 100%;
        max-height:32px;
        height:auto;
        width:auto;
    }

    .Misc {
        display:flex;
        flex-direction: row;
        justify-content:flex-end;
        gap:10px;
        align-items:center;
    }

.Hamburger {
    /*hide where room enough to display aside menu */
    display: none;
    margin-left:10px;
}

    .Hamburger.ShowHamburger {
        /*show where menu aside is hidden as in home page */
        display: block;
    }


/* ------------- mobiles -----------------*/

@media screen and (max-width:600px) {
    .Hamburger {
        display: block;
    }
}