.Wrapper {
    max-width: 400px;
}

.ShowObsolets {
    margin: 20px 0 10px;
}


.Item {
    display: block;
    margin-top: 10px;
    padding-top: 10px;
}

    .Item:not(:first-child) {
        border-top: 1px solid gray;
    }

.Obsoleto {
    color: gray;
}
