@page "/logout"
@inherits _ComponentBase
@inject CustomAuthenticationStateProvider customAuthenticationStateProvider

<div class="loader loader-bouncing"><span>Redirecting...</span></div>
@code {

    protected override void OnInitialized()
    {
        customAuthenticationStateProvider.Logout();
        AppState.ResetNav();
        NavigateToPageAndReload("");
    }
}