.Item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}

    .Item .EditButtons {
        display: flex;
        gap: 10px;
    }

.Buttons {
    display: grid;
    grid-template-columns: 1fr 32px;
}


@media(max-width:600px) {
    .Item {
        padding: 10px;
    }
}
