.Wrapper {
    max-width: 400px;
}

.ShowObsolets {
    margin:20px 0 10px;
}

.Item {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

.Item:not(:first-child){
    border-top: 1px solid gray;
}

.Label{
    color:gray;
}

.Obsoleto {
    color:gray;
}