body {
}

h1 {
    display: block;
    padding: 0 0 10px 0;
    font-size: 1.3em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    color: #a9a9a9;
}

h2 {
    display: block;
    font-size: 1.2em;
    margin-block-start: .53em;
    margin-block-end: .33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    color: #666;
}

h3 {
    display: block;
    font-size: 1.1em;
    margin-block-start: 0.53em;
    margin-block-end: 0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: black;
}
