
#cookieConsent {
}

    #cookieConsent a {
    }

#closeCookieConsent {
}

    #closeCookieConsent:hover {
    }

#cookieConsent a.cookieConsentOK {
}

    #cookieConsent a.cookieConsentOK:hover {
    }
