@page "/apps"
@using Identity.Admin.Client.Services
@using Identity.Shared.Models
@using MatComponents.Components.Modal
@using MatComponents.Services
@rendermode InteractiveServer


@inject IdentityApiClient Api
@inject ToastService Toasts

<h3>Applications</h3>
<p>@DateTime.Now</p>


@if (isLoading)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var app in apps ?? new())
        {
            <li>
                <a href="/apps/@app.Id">@app.Name (@app.Key)</a>
                <button class="btn btn-link text-danger p-0 ms-2"
                        title="Delete"
                        @onclick="() => ConfirmDelete(app.Id, app.Name)">
                    <i class="bi bi-trash"></i>
                </button>
            </li>

        }
    </ul>
}

<button @onclick="OpenCreateModal">Create App</button>


<Modal @ref="createAppModal" Title="Create App">
    <div class="form-group">
        <label>Key</label>
        <input class="form-control" @bind="newAppKey" />
    </div>

    <div class="form-group">
        <label>Name</label>
        <input class="form-control" @bind="newAppName" />
    </div>

    <div class="mt-3">
        <button class="btn btn-primary" @onclick="CreateApp">Create</button>
    </div>
</Modal>

<Modal @ref="deleteModal" Title="Delete App">
    <p>Are you sure you want to delete <strong>@appToDeleteName</strong>?</p>

    <button class="btn btn-danger" @onclick="DeleteApp">Delete</button>
    <button class="btn btn-secondary" @onclick="deleteModal!.Close">Cancel</button>
</Modal>



@code {
    private Modal? createAppModal;
    private bool isLoading;
    private string newAppKey = "";
    private string newAppName = "";

    private Modal? deleteModal;
    private Guid appToDeleteId;
    private string appToDeleteName = "";


    private List<AppDto>? apps;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            isLoading = true;
            apps = await Api.GetAppsAsync();
        }
        catch (Exception ex)
        {
            Toasts.ShowError(ex.Message);
        }
        finally
        {
            isLoading = false;
        }
    }

    private void OpenCreateModal()
    {
        newAppKey = "";
        newAppName = "";
        createAppModal?.Open();
    }

    private async Task CreateApp()
    {
        try
        {
            await Api.CreateAppAsync(new CreateAppRequest(newAppKey, newAppName));
            apps = await Api.GetAppsAsync();
            createAppModal?.Close();

            Toasts.ShowSuccess("Application created successfully");
        }
        catch (Exception ex)
        {
            Toasts.ShowError(ex.Message);
        }
    }

    private void ConfirmDelete(Guid id, string name)
    {
        appToDeleteId = id;
        appToDeleteName = name;
        deleteModal?.Open();
    }

    private async Task DeleteApp()
    {
        try
        {
            await Api.DeleteAppAsync(appToDeleteId);

            // Refresh list
            apps = await Api.GetAppsAsync();

            deleteModal?.Close();
            Toasts.ShowSuccess("Application deleted successfully");
        }
        catch (Exception ex)
        {
            Toasts.ShowError(ex.Message);
        }
    }


}
