
.BackOffice {
    padding: 30px 0 7px;
    font-weight: 600;
}

.Item {
    display: block;
    width: 100%;
}

.Lang {
    margin:0 0 15px;

}

/*------------ mobiles -----------------*/
@media(max-width:599px) {
    .Item{
        padding:10px;
        border-bottom: 1px solid gray;
    }
}
