@namespace MatComponents.Loading

@if (Visible)
{
    <div class="mat-loading">
        <svg width="36" height="14" viewBox="0 0 32 14" xmlns="http://www.w3.org/2000/svg">
            <rect class="mat-loading-rect mat-loading-rect1" x="1" y="2" width="9" height="12" />
            <rect class="mat-loading-rect mat-loading-rect2" x="12" y="2" width="9" height="12" />
            <rect class="mat-loading-rect mat-loading-rect3" x="23" y="2" width="9" height="12" />
        </svg>
    </div>
}


@code {
    [Parameter] public bool Visible { get; set; } = true;
}