@*  -------------- M+O  -------------  *@

@using DTO.Helpers;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.Net.Http.Headers;
@inject ProtectedSessionStorage _sessionStorage
@inject IAppState appState
@inject HttpClient http
@inject AuthenticationStateProvider authStateProvider


<CascadingValue Value="@this">
    @ChildContent
</CascadingValue>

@*@if (isLoaded)
{
    <CascadingValue Value="@this">
        @ChildContent
    </CascadingValue>
}
else
{
    <p>Loading...</p>
}*@

@*Web*@
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    public SessionStateDeprecated? Session { get; set; }
    public event EventHandler<EventArgs>? MenuJustLoaded;
    public bool isLoaded;


    //protected override async Task OnInitializedAsync()
    //{
    //    var custAuthProvider = (CustomAuthenticationStateProvider)authStateProvider;
    //    custAuthProvider.TokenChangedAsync += TokenChangedAsync;
    //   // await LoadNav();
    //}

    ////protected override async Task OnAfterRenderAsync(bool firstRender)
    ////{
    ////    if (firstRender)
    ////    {
    ////        // Maintains session collection returning current or creating a new one
    ////        var result = await _sessionStorage.GetAsync<Guid>("sessionId");
    ////        if (result.Success)
    ////            Session = appState.Session(result.Value);
    ////        else
    ////        {
    ////            Session = appState.AddSession();
    ////            await _sessionStorage.SetAsync("sessionId", Session.Guid);
    ////        }
    ////        isLoaded = true;
    ////        StateHasChanged();
    ////    }
    ////}

    //#region "http"
    ////public async Task<ApiResponse<T>> GetAsync<T>(params string[] segments) => await HttpService.GetAsync<T>(http, segments);

    //#endregion

    //#region "nav"

    ////public async Task LoadNav()
    ////{
    ////    isLoaded = false;
    ////    var apiResponse = await HttpService.GetAsync<NavDTO>(http, "navs/custom", ((int)EmpModel.EmpIds.MatiasMasso).ToString());
    ////    if (apiResponse.Success())
    ////    {
    ////        Session!.Nav = apiResponse.Value!;
    ////        Session.MenuItems = Session.Nav.Items.Where(x => x.Parent == null).OrderBy(y => y.Ord).ToList();
    ////        Session.IsLoadingMenu = false;
    ////        if (MenuJustLoaded != null)
    ////        {
    ////            MenuJustLoaded.Invoke(this, new EventArgs());
    ////        }
    ////    }
    ////}

    //#endregion

    //#region "auth token"

    //public async Task TokenChangedAsync(object? sender, EventArgs args)
    //{
    //    Session.Token = ((MatEventArgs<string>)args)?.Value;
    //    var token = ((MatEventArgs<string>)args)?.Value;
    //    if (token == null)
    //        http.DefaultRequestHeaders.Authorization = null;
    //    else
    //        http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
    //    //await LoadNav();
    //}

    //public async Task<UserModel?> GetUserFromIdentity()
    //{
    //    UserModel? retval = null;
    //    var authstate = await authStateProvider.GetAuthenticationStateAsync();
    //    var claims = authstate.User.Claims;
    //    var claim = claims.FirstOrDefault(x => x.Type == "UserId");
    //    if (claim != null)
    //    {
    //        retval = new UserModel(new Guid(claim.Value));
    //        retval.Rol = claims.FirstOrDefault(x => x.Type == "Rol")?.Value.ToEnum<UserModel.Rols>() ?? UserModel.Rols.notSet;
    //        retval.Nickname = claims.FirstOrDefault(x => x.Type == "DisplayName")?.Value;
    //        retval.EmailAddress = claims.FirstOrDefault(x => x.Type == "Email")?.Value;
    //        retval.Hash = claims.FirstOrDefault(x => x.Type == "Hash")?.Value;
    //        var emps = claims.FirstOrDefault(x => x.Type == "Emps")?.Value;

    //    }
    //    return retval;
    //}


    //public void Dispose()
    //{
    //    ((CustomAuthenticationStateProvider)authStateProvider).TokenChangedAsync -= TokenChangedAsync;
    //}

    //#endregion

    #region "Browser History"

    public void AddToBrowserHistory(string url)
    {
        if (Session!.BrowserHistory.Count == 0 || url != Session!.BrowserHistory.Last())
            Session!.BrowserHistory.Add(url);
    }

    public void RemoveLastBrowserHistory()
    {
        Session!.BrowserHistory.RemoveAt(Session!.BrowserHistory.Count - 1);
    }

    public string GetLastBrowserHistory() => Session!.BrowserHistory[Session!.BrowserHistory.Count - 1];

    #endregion

}