
@inject HttpClient http

<h1>Counter 1</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    int currentCount = 3;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        //var client = (IHttpClientFactory)http.CreateClient();
        //client.BaseAddress = new Uri("https://api.publicapis.org/");

    }
}