@using DTO

<div class="Wrapper">
    @if(Boxes != null)
    {
        foreach (var item in Boxes)
        {
            <a class="Item" href="@item.Url" >
                <img src="@item.ImageUrl"/>
                <span>@item.Caption</span>
            </a>
        }
    }
</div>

@code {

    [Parameter]
    public List<Box>? Boxes { get; set; }

    [Parameter]
    public int? BoxWidth { get; set; }

    [Parameter]
    public int? BoxHeight { get; set; }

}
