<div class="Wrapper">

    <a href="/" class="Membrete">
        <img src="img/Membrete-553x48.jpg" height=48 width=553 />
    </a>

    <a href="#" @onclick="HamburgerClicked" 
                @onclick:preventDefault
                class="Hamburger @(ShowHamburger ? "ShowHamburger" : "")" >

        <img src="img/Hamburger-32.png" height=32 width=32 />
    </a>
</div>

@code {
    [Parameter]
    //hides hamburger on desktop pages where aside menu is always displayed
    public bool ShowHamburger { get; set; } = false;

    [Parameter]
    public EventCallback HamburgerClicked { get; set; }


}
