a {
    text-decoration: none;
    color: black;
}

.Wrapper {
    position: relative;
}

.Dropdown {
    position: absolute;
    top: 1.8em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background-color: white;
    width: min-content;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    z-index: 2;
    padding: 5px 10px 10px;
}

.Item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /*padding: 4px 7px 2px 4px;*/
}


    .Item.Selected {
        align-items: baseline;
        background-color: #DDDDDD;
    }

.Dropdown a.Item {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Nom {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.XMark {
    width: 0.7em;
}

.HideOnDesktop {
    display: block;
    width: 24px;
    padding: 0 10px;
}


@media(min-width:599px) {
    .HideOnDesktop {
        display: none;
    }
}
