.Epg {
    display:flex;
    gap:10px;
}


.Nom {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Eur {
    white-space: nowrap;
    display:flex;
    justify-content:flex-end;
}

@media(max-width:599px){
    .Grid {
        display:flex;
        flex-direction:column;
    }

    .Item {
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-column-gap: 10px;
        padding:10px 0;
    }

    .Item:not(:last-child){
        border-bottom:1px solid gray;
    }
}

@media(min-width:600px){
    .Grid {
        display: grid;
        grid-template-columns: 1fr min-content;
    }

    .Item {
        display: contents;
    }

    .Item > * {
        padding:4px 0 2px;
    }

        .Item:not(:last-child) > * {
            border-bottom: 1px solid #DDDDDD;
        }
}