.Concept {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}


.Price {
    display:flex;
    justify-content: flex-end;
    white-space:nowrap;
}

.Docfile {
    display:flex;
    justify-content:center;
}

    .Docfile a {
        display: block;
        width: 350px;
    }

.Docfile img {
    width:100%;
    height:auto;
}

@media(max-width:599px) {
    .HideOnMobile {
        display: none;
    }

     .Grid {
        display: flex;
        flex-direction: column;
    }

    .Item {
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr 100px;
        grid-template-areas: "concept price";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .Item:not(:last-child){
        border-bottom: 1px solid gray;
    }

    .Concept {
        grid-area: concept;
    }


    .Price {
        grid-area:price;
    }

}

@media(min-width:600px) {

    .HideOnDesktop {
        display: none;
    }

}
