.Grid {
    display:flex;
    flex-direction: column;

}

.Item {
    display:block;
}

@media(max-width:599px) {
    .Item {
        padding: 10px 0;
    }

        .Item:not(:last-child) {
            border-bottom: 1px solid gray;
        }
}


@media(min-width:600px) {
    .Item {
        padding: 4px 0 2px;
    }

        .Item:not(:last-child) {
            border-bottom: 1px solid #DDDDDD;
        }
}