
.Wrapper {
    position: relative;
    width:100%;
}

    .Wrapper.Selected {
        background-color: #f0f0f0;
    }

    .Caption {
        display:block;
        width:100%;
        height: 100%;
    }

a.Caption:hover {
    background-color: #f0f0f0;
}

.ContextMenu {
    top: 1.35em;
}

@media(max-width:599px) {
    .Caption {
        padding:12px 0;
    }
}


