
.Wrapper {
    position: relative;
}




    .ContextMenu a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: black;
    }

        .ContextMenu a:hover {
            background-color: #f0f0f0;
        }

