/*xx*/

.Wrapper {
    position:relative;
}

input {
    padding: 4px 7px 2px 30px;
    width: 100%;
    border-color: #DDDDDD;
    -webkit-appearance: none;
    border-radius: 4px;
    font-size:1.0rem;
}

.Lupa {
    position: absolute;
    width: 1rem;
    left: 5px;
    top: 6px;
}

.ClearButton {
    position: absolute;
    right: 5px;
    top: 6px;
    z-index: 2;
}