@inject CultureService culture;

<h3>Dept @Model.Nom.Tradueix(culture.Lang())</h3>

@code {
    [Parameter] public ProductDeptModel Model { get; set; }
    [Parameter] public string? LangSegment { get; set; }
}
