.Years {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

    .Years a {
        display: inline-block;
    }

.Grid {
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content min-content 20px;
    grid-column-gap: 10px;
}

.Grid .ColHeaders, .Grid .Item {
    display:contents;
}

    .Grid .ColHeaders div {
        margin-bottom: 10px;
    }

    .Fch {
        white-space: nowrap;
    }

.Num {
    display:flex;
    justify-content: flex-end;
}

.Ico {
    display: flex;
    justify-content: center;
}