.Wrapper {
    border:1px dotted gray;
    display:block;
    width:100%;
    cursor:pointer;
}

    .Wrapper ::deep input[type=file] {
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .Item {
        display:flex;
        gap:10px;
        padding:5px 0;
    }

    .Item .Icon {
        width:30px;
    }