@page "/Professions"

<div class="PageWrapper">
    @if (selectedItem != null)
    {
        <ModelEditor Model="selectedItem"
                     CancelRequest="@(()=>selectedItem = null)"></ModelEditor>
    }
    else
    {
        <h1>Professions</h1>
        <Professions ItemSelected="ItemSelectedHandler"></Professions>
    }
</div>

@code {
    IModel? selectedItem;

    void ItemSelectedHandler(IModel item)
    {
        selectedItem = item;
    }
}