@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut" target="_top">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register" target="_top">Register</a>
        <a href="Identity/Account/Login" target="_top">Log in</a>
    </NotAuthorized>
</AuthorizeView>
