.Wrapper {
    max-width:400px;
}

.Grid {
    margin-top: 20px;
    display: grid;
    grid-column-gap: 10px;
}


.Item {
    display: contents;
}

.Pdf {
    background-repeat: no-repeat;
    background-image: url(/img/pdf-36.png);
    background-size: contain;
    background-position: center;
}


/*------------------------ mobiles ----------------------*/

@media (max-width:599px) {
    .Grid {
        grid-template-columns: 36px 1fr;
    }

    .Year {
        padding: 12px 0;
    }

}

/*------------------------ desktop ----------------------*/

@media(min-width:600px) {
    .Grid {
        grid-template-columns: 20px 1fr;
    }

}
