.Wrapper {
    display:flex;
    flex-direction:column;
    gap:15px;
}



@media(min-width:600px) {
    .Item {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media(max-width:599px) {
    .Item {
        display: flex;
        flex-direction: column;
        padding:5px 0;
    }
    .Item > div:last-child {
        color:darkgrey;
    }
}