@page "/logout"
@inherits _ComponentBase
@inject CustomAuthenticationStateProvider customAuthenticationStateProvider

<div class="loader loader-bouncing"><span>Redirecting...</span></div>
@code {

    protected override async Task OnInitializedAsync()
    {
        @*customAuthenticationStateProvider.Logout();
        await AppState.LoadMenu();
        NavigateToPageAndReload("");*@
    }
}