.Wrapper {
    max-width: 600px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 10px;
    font-size: 0.8rem;
}

h1 {
    grid-column: 1/-1;
}

.Epigraf {
    grid-column: 1/-1;
    padding: 20px 0 10px;
}
