.Wrapper {
    max-width: 400px;
}



.Summary {
    margin-top: 10px;
}

.Item {
    cursor: pointer;
}

.Pdf {
    background-repeat: no-repeat;
    background-image: url(/img/pdf-36.png);
    background-size: contain;
    background-position: center;
}




@media(min-width:600px) {

    .Grid {
        display: grid;
        grid-template-columns: 20px 1fr min-content min-content;
        margin-top: 15px;
        grid-column-gap: 1px;
    }

    .ColumnHeaders {
        color: gray;
    }

    .Item {
        display: contents;
    }

        .Item > div {
            padding: 0 7px;
        }

    .Fch {
        padding-right: 10px;
    }

    .Brut, .Net {
        text-align: right;
        padding-left: 10px;
        white-space: nowrap;
    }

    .ContextMenu {
        position: absolute;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: #FEFFD5;
        left: 20px;
        z-index: 10;
        width: min-content;
        max-width: 100%;
        border: 1px solid black;
    }

    .GridRowDivider {
        position: relative;
    }
}

/*------------------------ mobiles ----------------------*/

@media (max-width:599px) {

    .Grid {
        margin-top: 20px;
    }

    .Item {
        display: grid;
        grid-template-areas: "pdf fch brut"
            "pdf net net";
        grid-template-columns: 36px min-content 1fr;
        grid-column-gap: 10px;
    }

    .Line {
        border-bottom: 1px solid #DDDDDD;
    }

    .Pdf {
        grid-area: pdf;
    }

    .Fch {
        grid-area: fch;
    }

    .Brut {
        grid-area: brut;
        text-align: right;
    }

    .Net {
        grid-area: net;
        text-align: right;
    }
}
