<div class="Spinner" style="display:inline-block; width:@(Width)px;height:@(Width)px;">
    <img src="/img/spinner-200px.svg" width="@Width" height="@Width" />
</div>

@code {
    [Parameter] public int Width { get; set; }
}
