<div class="Grid">
    <div class="Item">
        <div class="Lang">
            Uno
        </div>
        <div class="Lang">
            Un
        </div>
        <div class="Lang">
            One
        </div>
        <div class="Lang">
            Uno
        </div>
        <div class="Icon">
            X
        </div>
    </div>
    <div class="Item">
        <div class="Lang">
            dos dos dosdos dos dos dos dos dos dos dos dos dos dos dos dos dos dos
        </div>
        <div class="Lang">
            dos dos dosdos dos dos dos dos dos dos dos dos dos dos dos dos dos dos
        </div>
        <div class="Lang">
            dos dos dosdos dos dos dos dos dos dos dos dos dos dos dos dos dos dos
        </div>
        <div class="Lang">
            dos dos dosdos dos dos dos dos dos dos dos dos dos dos dos dos dos dos
        </div>
        <div class="Icon">
            X
        </div>
    </div>
</div>

<style>
    .Grid {
        display: flex;
        flex-direction: column;
    }


    .Item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 24px;
        border: 1px solid green;
    }

    .Lang {
        border: 1px solid blue;
    }

    .Ico {
        width: 24px;
        border: 1px solid orange;
    }
</style>