
.Item.Expanded {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 100%;
    width:100%;
    margin:15px 0;
}

    .Item.Expanded .Label {
        margin-top: 15px;
        border: none!important;
        display: flex;
        justify-content: space-between;
        font-weight:600;
    }

    .Label .Fch {
        text-align:right;
    }

.Item.Compact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 24px;
    gap: 5px;
}
    .Lang {
        border:1px solid gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .Outdated {
        background-color:lightgray;
    }

.Icon {
    display: block;
    min-width: 24px;
    text-align:center;
}

.Icon:hover {
    border:1px solid gray;
}
.Close {
    text-align:right;
}

.Overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}