.Wrapper {
    display:flex;
    justify-content: space-between;
    padding: 0 10px;
}

    .Wrapper > a {
        display: block;
        width: 100%;
    }

input[type="text"], input[type="password"]{
    width:100%;
}

.ButtonsBar {
    display:flex;
    gap:10px;
}

.ButtonsBar > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px;
}

i, ::deep i {
    opacity: 0.2;
}
    .ButtonsBar > *:hover, ::deep .ButtonsBar > *:hover {
        border: 1px solid black;
    }

        .ButtonsBar > *:hover i, ::deep .ButtonsBar > *:hover i {
            opacity: 0.8;
        }



