@using Microsoft.AspNetCore.Components.Forms

@if (EditContext.IsModified(Field) && Messages.Any())
{
    <div class="mat-propertygrid-error animated-error">
        <div class="mat-propertygrid-error-icon"></div>
        <div class="mat-propertygrid-error-text">
            @foreach (var msg in Messages)
            {
                <div>@msg</div>
            }
        </div>
    </div>
}


@code {
    [CascadingParameter] public EditContext EditContext { get; set; }
    [Parameter] public FieldIdentifier Field { get; set; }

    private IEnumerable<string> Messages =>
        EditContext?.GetValidationMessages(Field) ?? Enumerable.Empty<string>();
}