@inherits _ComponentBase


<div class="Wrapper">

    <TabControl>
        <TabPage Text="@Localizer("Details")">
            @if (gridModel == null)
            {
                <Loading></Loading>
            }
            else
            {
                <PropertyGrid model="@gridModel"
                          SetDirty="@(()=>isDirty=true)"
                          RequestToLoadOptions="LoadOptionsRequest"
                          CanEdit="true"></PropertyGrid>
            }
        </TabPage>

    </TabControl>

    <div class="ButtonsBar">
        <UxButtonsBar CanEdit="true"
                      IsDirty="isDirty"
                      IsUpdating="isUpdating"
                      CanDelete="@(Model != null && !Model.IsNew)"
                      RequestToCancel="CancelRequest"
                      RequestToDelete="DeleteRequest"
                      RequestToUpdate="UpdateRequest"></UxButtonsBar>
    </div>

    <UxError ProblemDetails="problemDetails"></UxError>

</div>

@code {
    [Parameter] public ProductCategoryModel Model { get; set; }
    [Parameter] public EventCallback<ProductCategoryModel> OnUpdate { get; set; }
    [Parameter] public EventCallback<ProductCategoryModel> OnDelete { get; set; }
    [Parameter] public EventCallback RequestToCancel { get; set; }

    private ProductCategoryModel _value;
    private PropertyGridModel gridModel;
    private CacheDTO cache;
    private bool isDirty { get; set; }
    private bool isUpdating { get; set; }
    new ProblemDetails problemDetails;

    private enum Fields : int
    {
        NomEsp,
        NomCat,
        NomEng,
        NomPor,
        Obsoleto
    }

    protected async override Task OnParametersSetAsync()
    {
        cache = base.DefaultCache();
        if (!Model.IsNew)
        {
            var apiResponse = await base.GetAsync2<ProductCategoryModel>("ProductCategory", Model.Guid.ToString());
            if (apiResponse.Success())
                Model = apiResponse.Value;
            else
                problemDetails = apiResponse.ProblemDetails;
        }

        var _gridModel = new PropertyGridModel(Model);
        _gridModel.AddString((int)Fields.NomEsp, Model.Nom?.Esp, Localizer("Spanish"));
        _gridModel.AddString((int)Fields.NomCat, Model.Nom?.Cat, Localizer("Catalan"));
        _gridModel.AddString((int)Fields.NomEng, Model.Nom?.Eng, Localizer("English"));
        _gridModel.AddString((int)Fields.NomPor, Model.Nom?.Por, Localizer("Portuguese"));
        _gridModel.AddBool((int)Fields.Obsoleto, Model.Obsoleto, Localizer("Obsoleto"));
        gridModel = _gridModel;
    }


    private async Task UpdateRequest()
    {
        Model.Nom = gridModel.GetLangText(Model.Nom, (int)Fields.NomEsp, (int)Fields.NomCat, (int)Fields.NomEng, (int)Fields.NomPor);
        Model.Obsoleto = gridModel.GetBool((int)Fields.Obsoleto);
        var apiResponse = await HttpService.PostAsync<ProductCategoryModel, bool>(http, Model, "ProductCategory");
        if (apiResponse.Success())
        {
            Model.IsNew = false;
            await OnUpdate.InvokeAsync(Model);
        }
        else
            problemDetails = apiResponse.ProblemDetails;
    }

    private async Task DeleteRequest()
    {
        var apiResponse = await HttpService.GetAsync<bool>(http, "ProductCategory/delete", Model!.Guid.ToString());
        if (apiResponse.Success())
            await OnDelete.InvokeAsync(Model);
        else
            problemDetails = apiResponse.ProblemDetails;
    }

    private void CancelRequest()
    {
        if (RequestToCancel.HasDelegate)
            RequestToCancel.InvokeAsync();
    }


    private async Task LoadOptionsRequest(PropertyGridModel.Item item)
    {
        ApiResponse<GuidNom[]> apiResponse = null;
        switch ((Fields)item.Field)
        {
            default:
                break;
        }

        if (apiResponse != null)
        {
            if (apiResponse.Fail())
                problemDetails = apiResponse.ProblemDetails;
            else
            {
                List<IModel> values = apiResponse.Value.OrderBy(x => x.Nom).ToList<IModel>();
                gridModel.Items.First(x => x.Field == item.Field).Values = values;
                StateHasChanged();
            }
        }
    }
}
