.Wrapper {
    position: relative;
}

.Dropdown {
    position: absolute;
    top: 28px;
    z-index: 1;
    background-color: white;
    max-width: 100%;
    max-height: 198px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

input[type=text] {
    padding: 0 5px;
    width: 100%;
    max-width: 100%;
}