<div class="mat-propertygrid-object-editor">
    @if (Node?.Instance != null)
    {
        <PropertyGrid Model="Node.Instance" />
    }
</div>

@code {
    [Parameter] public ObjectNode Node { get; set; }
}