a {
    -webkit-text-decoration: none;
    text-decoration: none;
}



.page-wrapper-600 {
    display:flex;
    flex-direction:column;
    gap:15px;
}

.grid .item:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.buttons-bar {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}