@page "/forgot-password"
@inject HttpClient Http

<h3>Forgot Password</h3>

<input @bind="email" placeholder="Email" />
<button @onclick="SendReset">Send Reset Link</button>

@code {
    private string email = "";

    private async Task SendReset()
    {
        var request = new
        {
            Email = email,
            ResetUrl = NavigationManager.BaseUri + "reset-password"
        };

        await Http.PostAsJsonAsync("auth/forgot-password", request);
    }
}
