@page "/users"
@inject UsersApi UsersApi
@inject ApplicationsApi AppsApi
@inject RolesApi RolesApi

<h3>Users</h3>

<UsersList Users="users"
           OnSelect="SelectUser"
           OnCreate="CreateUser"
           OnDelete="DeleteUser" />

@if (selectedUser != null)
{
    <UserEditor User="selectedUser"
                Applications="applications"
                RolesApi="RolesApi"
                UsersApi="UsersApi" />
}

@code {
    private List<UserDto>? users;
    private List<ApplicationDto>? applications;
    private UserDto? selectedUser;

    protected override async Task OnInitializedAsync()
    {
        users = await UsersApi.GetUsersAsync();
        applications = await AppsApi.GetApplicationsAsync();

    }

    private void SelectUser(UserDto user) => selectedUser = user;

    private async Task CreateUser(CreateUserRequest dto)
    {
        var created = await UsersApi.CreateUserAsync(dto);
        users!.Add(created);
    }

    private async Task DeleteUser(Guid id)
    {
        await UsersApi.DeleteUserAsync(id);
        users!.RemoveAll(u => u.Id == id);
        if (selectedUser?.Id == id)
            selectedUser = null;
    }
}
