@page "/users"
@inject UsersApi UsersApi
@inject ApplicationsApi AppsApi
@inject RolesApi RolesApi


@if (selectedUser == null)
{
    <UsersList Users="users"
               OnSelect="SelectUser"
               OnCreate="CreateUser"
               OnDelete="DeleteUser" />
}
else
{
    <h3>Users</h3>
    <UserEditor User="selectedUser"
                Applications="applications"
                RolesApi="RolesApi"
                UsersApi="UsersApi" />
}
<Error Errors="_errors" OnClear="HandleClear" />


@code {
    private List<UserDto>? users;
    private List<ApplicationDto>? applications;
    private UserDto? selectedUser;
    private List<string>? _errors = new();


    protected override async Task OnInitializedAsync()
    {
        (users, _errors) = await UsersApi.GetUsersAsync();
        (applications, _errors) = await AppsApi.GetApplicationsAsync();
    }

    private void SelectUser(UserDto user) => selectedUser = user;

    private async Task CreateUser(UserDto user)
    {
        _errors = await UsersApi.CreateUserAsync(user);
        if (_errors is null || !_errors.Any())
            users!.Add(user);
    }


    private async Task DeleteUser(Guid id)
    {
        _errors = await UsersApi.DeleteUserAsync(id);
        if (_errors is null || !_errors.Any())
        {
            users!.RemoveAll(u => u.Id == id);
            if (selectedUser?.Id == id)
                selectedUser = null;
        }
    }

    private async Task HandleClear()
    {
        _errors?.Clear();
        await InvokeAsync(StateHasChanged);
    }
}
