.Wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

    .Grid button, .Grid input {
        width: 100%;
    }

.IForgot {
    margin-top:10px;
    display: flex;
    gap: 10px;
}

    .IForgot > a {
        display: block;
        width: 100%;
    }

    .IForgot > div {
        width: 30px;
        text-align: center;
    }
