@inherits LayoutComponentBase



<div class="layout-root">

    <ToastContainer></ToastContainer>
    <SharedModal></SharedModal>

    <header>
        <div class="logo">
            <img src="icons/favicon-96x96.png" />
        </div>
        <div class="toggle-btn-container">
            <button class="toggle-btn" @onclick="ToggleSidebar">☰</button>
        </div>
    </header>

    <div class="main-container">

        <aside class="sidebar @(SidebarOpen ? "open" : "closed")">

            <NavMenu OnClick="MenuItemClick"></NavMenu>

        </aside>

        <main>
            @Body
        </main>
    </div>

</div>

@inject IJSRuntime JS

@code {
    private bool SidebarOpen = true;   // desktop default
    private bool IsMobile = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsMobile = await JS.InvokeAsync<bool>("isMobile");

            // Mobile default = closed
            if (IsMobile)
                SidebarOpen = false;

            StateHasChanged();
        }
    }

    void ToggleSidebar() => SidebarOpen = !SidebarOpen;

    async Task MenuItemClick(MenuModel.Item item)
    {
        // Only close sidebar on mobile
        if (IsMobile)
            SidebarOpen = false;

    }
}

