@inherits LayoutComponentBase



<div class="layout-root">

    <ToastContainer></ToastContainer>
    <SharedModal></SharedModal>

    <header>
        <div class="logo">
            <img src="icons/favicon-96x96.png" />
        </div>
        <div class="toggle-btn-container">
            <button class="toggle-btn" @onclick="ToggleSidebar">☰</button>
        </div>
    </header>

    <div class="main-container">

        <aside class="sidebar @(SidebarOpen ? "open" : "closed")">

            <NavMenu OnClick="MenuItemClick"></NavMenu>

        </aside>

        <main>
            @Body
        </main>
    </div>

</div>

@code {
    private bool SidebarOpen = true;

    void ToggleSidebar() => SidebarOpen = !SidebarOpen;
    void CloseSidebar() => SidebarOpen = false;

    void MenuItemClick(MenuModel.Item item)
    {
        CloseSidebar();
    }
}
