/* Root grid */
.layout-root {
    height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    z-index: 1000;
}

.logo {
    height: 32px;
}

    .logo img {
        height: 100%;
        width: auto;
    }


.toggle-btn {
    background: none;
    border: none;
    font-size:2rem;
    cursor:pointer;
}

.main-container {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.sidebar {
    width: 220px;
    height: 100vh;
    padding: 20px 0 0 0;
    background: #f5f5f5;
    overflow: hidden;
    transition: width 0.3s ease;
}

    .sidebar.closed {
        width: 0;
    }

main {
    flex: 1;
}






@media (max-width: 768px) {

    .main-container {
        position: relative;
    }

    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        background: #f5f5f5;
        z-index: 1000;
        padding-left:10px;
        /* Start hidden off-screen */
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .sidebar {
        background: #222;
        color: white;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        transition: transform 0.3s ease;
        /* Right border shadow */
        box-shadow: 4px 0 12px rgba(0,0,0,0.35);
    }

        /* When open */
        .sidebar.open {
            transform: translateX(0);
        }



    /* Main should NOT move on mobile */
    main {
        flex: none;
        width: 100%;
    }
}
