.menu-item a {
    display: block;
    text-decoration: none!important;
    color: black;
}

@media (max-width: 768px) {
    .menu-item a {
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
        color:white!important;
    }
}