<nav class="side-nav">
    @foreach (var item in model.Items)
    {
        <NavLink class="nav-link"
                 href="@item.Url"
                 @onclick="@(async e => await ItemClickAsync(item))">
            @item.Title
        </NavLink>
    }
</nav>

@code {
    [Parameter] public EventCallback<MenuModel.Item> OnClick { get; set; }
    private MenuModel model = new();

    private record MenuiItem(string Caption, string Target);

    protected override void OnInitialized()
    {
        model = new();
        model.AddItem("Inici", "/");
        model.AddItem("Apps", "/apps");
        model.AddItem("Usuaris", "/users");
        model.AddItem("Rols", "/apps/roles");
        model.AddItem("Logout", "/logout");
    }

    private async Task ItemClickAsync(MenuModel.Item item)
    {
        model.SelectedItem = item;
        await OnClick.InvokeAsync(item);
    }
}
