@inherits _ComponentBase


<div class="Wrapper">

    <TabControl>
        <TabPage Text="@Localizer("Details")">
            @if (gridModel == null)
            {
                <Loading></Loading>
            }
            else
            {
                <PropertyGrid model="@gridModel"
                          SetDirty="@(()=>isDirty=true)"
                          CanEdit="true"></PropertyGrid>
            }
        </TabPage>

    </TabControl>

    <div class="ButtonsBar">
        <UxButtonsBar CanEdit="true"
                      IsDirty="isDirty"
                      IsUpdating="isUpdating"
                      CanDelete="@(Model != null && !Model.IsNew)"
                      RequestToCancel="CancelRequest"
                      RequestToDelete="DeleteRequest"
                      RequestToUpdate="UpdateRequest"></UxButtonsBar>
    </div>

    <UxError ProblemDetails="problemDetails"></UxError>

</div>

@code {
    [Parameter] public RegionModel Model { get; set; }
    [Parameter] public EventCallback<RegionModel> OnUpdate { get; set; }
    [Parameter] public EventCallback<RegionModel> OnDelete { get; set; }
    [Parameter] public EventCallback RequestToCancel { get; set; }

    private RegionModel _value;
    private PropertyGridModel gridModel;
    private CacheDTO cache;
    private bool isDirty { get; set; }
    private bool isUpdating { get; set; }
    new ProblemDetails problemDetails;

    private enum Fields : int
    {
        Country,
        Nom
    }

    protected async override Task OnParametersSetAsync()
    {
        cache = base.DefaultCache();
        if (!Model.IsNew)
        {
            var apiResponse = await base.GetAsync2<RegionModel>("Region", Model.Guid.ToString());
            if (apiResponse.Success())
                Model = apiResponse.Value;
            else
                problemDetails = apiResponse.ProblemDetails;
        }

        var countries = cache.Countries.Select(x => new GuidNom(x.Guid, x.Nom.Tradueix(base.Lang()))).ToList();
        var country = countries.FirstOrDefault(x => x.Guid == Model.Country);
        var _gridModel = new PropertyGridModel(Model);
        _gridModel.AddDropdown<GuidNom>((int)Fields.Country, countries, country, Localizer("Country"));
        _gridModel.AddString((int)Fields.Nom, Model.Nom, Localizer("Nom"));
        gridModel = _gridModel;
    }


    private async Task UpdateRequest()
    {
        Model.Country = (Guid)gridModel.GetModelGuid((int)Fields.Country);
        Model.Nom = gridModel.GetString((int)Fields.Nom);

        var apiResponse = await HttpService.PostAsync<RegionModel, bool>(http, Model, "Region");
        if (apiResponse.Success())
        {
            Model.IsNew = false;
            await OnUpdate.InvokeAsync(Model);
        }
        else
            problemDetails = apiResponse.ProblemDetails;
    }

    private async Task DeleteRequest()
    {
        var apiResponse = await HttpService.GetAsync<bool>(http, "Region/delete", Model!.Guid.ToString());
        if (apiResponse.Success())
            await OnDelete.InvokeAsync(Model);
        else
            problemDetails = apiResponse.ProblemDetails;
    }

    private void CancelRequest()
    {
        if (RequestToCancel.HasDelegate)
            RequestToCancel.InvokeAsync();
    }
}
