@inherits _ComponentBase


<div class="Wrapper">

    <TabControl>
        <TabPage Text="@Localizer("Details")">
            @if (gridModel == null)
            {
                <Loading></Loading>
            }
            else
            {
                <PropertyGrid model="@gridModel"
                          SetDirty="@(()=>isDirty=true)"
                          Localizer("Details")></PropertyGrid>
            }
        </TabPage>

    </TabControl>

    <div class="ButtonsBar">
        <UxButtonsBar Localizer("Details")
                      IsDirty="isDirty"
                      IsUpdating="isUpdating"
                      CanDelete="@(Model != null && !Model.IsNew)"
                      RequestToCancel="CancelRequest"
                      RequestToDelete="DeleteRequest"
                      RequestToUpdate="UpdateRequest"></UxButtonsBar>
    </div>

    <UxError ProblemDetails="problemDetails"></UxError>

</div>

@code {
    [Parameter] public ZipModel Model { get; set; }
    [Parameter] public EventCallback<ZipModel> OnUpdate { get; set; }
    [Parameter] public EventCallback<ZipModel> OnDelete { get; set; }
    [Parameter] public EventCallback RequestToCancel { get; set; }

    private ZipModel _value;
    private PropertyGridModel gridModel;
    private CacheDTO cache;
    private bool isDirty { get; set; }
    private bool isUpdating { get; set; }
    new ProblemDetails problemDetails;

    private enum Fields : int
    {
        Location,
        ZipCod
    }

    protected async override Task OnParametersSetAsync()
    {
        cache = base.DefaultCache();
        if (!Model.IsNew)
        {
            var apiResponse = await base.GetAsync2<ZipModel>("Zip", Model.Guid.ToString());
            if (apiResponse.Success())
                Model = apiResponse.Value;
            else
                problemDetails = apiResponse.ProblemDetails;
        }

        var location = cache.Locations.FirstOrDefault(x => x.Guid == Model.Location);
        var locations = cache.Locations.Where(x => x.Zona == location.Zona).Select(x => new GuidNom(x.Guid, x.Nom)).ToList();
        var locationGuidnom = new GuidNom(location.Guid, location.Nom);
        var _gridModel = new PropertyGridModel(Model);
        _gridModel.AddDropdown<GuidNom>((int)Fields.Location, locations, locationGuidnom, Localizer("Location"));
        _gridModel.AddString((int)Fields.ZipCod, Model.ZipCod, Localizer("ZipCod"));
        gridModel = _gridModel;
    }


    private async Task UpdateRequest()
    {
        Model.Location = (Guid)gridModel.GetModelGuid((int)Fields.Location);
        Model.ZipCod = gridModel.GetString((int)Fields.ZipCod);

        var apiResponse = await HttpService.PostAsync<ZipModel, bool>(http, Model, "Zip");
        if (apiResponse.Success())
        {
            Model.IsNew = false;
            await OnUpdate.InvokeAsync(Model);
        }
        else
            problemDetails = apiResponse.ProblemDetails;
    }

    private async Task DeleteRequest()
    {
        var apiResponse = await HttpService.GetAsync<bool>(http, "Zip/delete", Model!.Guid.ToString());
        if (apiResponse.Success())
            await OnDelete.InvokeAsync(Model);
        else
            problemDetails = apiResponse.ProblemDetails;
    }

    private void CancelRequest()
    {
        if (RequestToCancel.HasDelegate)
            RequestToCancel.InvokeAsync();
    }
}
