.Item {
    display:grid;
    grid-template-areas: "ico nom"
                         "ico details";
    grid-template-columns: min-content 1fr;
    font-size:0.9em;
    margin:10px 0;
}

.Ico {
    grid-area:ico;
    margin-right:10px;
}

.Ico img {
    height:100%;
    width:auto;
}

.Nom {
    grid-area: nom;
}

.Details {
    grid-area: details;
    color:darkgray;
}