.Item {
    display:block;
    font-size:0.9em;
    margin:10px 0;
}

.Marca {
}

.Matricula {
    padding-left:15px;
    color: darkgray;
}

.Conductor {
    padding-left: 15px;
    color: darkgray;
}
