@using MatComponents.Services
@inject ToastService ToastService

<div class="admin-toast-container" style="@_displayStyle">
    <div class="admin-toast @ToastCss" @onclick="HideToast">
        @_message
    </div>
</div>

@code {
    private string _message = "";
    private string ToastCss = "";
    private string _displayStyle = "display:none";



    protected override void OnInitialized()
    {
        ToastService.OnShow += HandleShow;
        ToastService.OnHide += HideToast;
    }

    private async void HandleShow(ToastLevel level, string message)
    {
        _message = message;

        ToastCss = level switch
        {
            ToastLevel.Success => "admin-toast-success",
            ToastLevel.Error => "admin-toast-error",
            ToastLevel.Warning => "admin-toast-warning",
            _ => "admin-toast-info"
        };

        _displayStyle = "display:block";
        await InvokeAsync(StateHasChanged);

        if (level == ToastLevel.Success)
        {
            await Task.Delay(3000);
            _displayStyle = "display:none";
            await InvokeAsync(StateHasChanged);
        }
    }


    private void HideToast()
    {
        _displayStyle = "display:none";
        StateHasChanged();
    }

    private void Dispose()
    {
        ToastService.OnShow -= HandleShow;
        ToastService.OnHide -= HideToast;
    }


}