input {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.PageWrapper600 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
}

.PageWrapper900 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 900px;
}

.Truncate {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.Hidden {
    display: none !important;
}

.Content {
    font-size: 0.8em;
    max-width: 600px;
}

    .Content h1 {
        padding: 20px 7px 2px 0;
        font-size: 1.2em;
        color: #333333;
        font-weight: 700;
    }

        .Content h1:first-child {
            padding-top: 0;
        }

    .Content h2 {
        padding: 20px 7px 2px 0;
        font-size: 1.2em;
        color: #666666;
        font-weight: 700;
    }
    .Content h3 {
        padding: 20px 7px 2px 0;
        font-size: 1.2em;
        color: #999999;
        font-weight: 700;
    }

.GridRowDivider {
    grid-column: 1/-1;
    height: 1px;
    border-bottom: 1px solid #DDDDDD;
}

.Button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    border-color: #198754;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: button;
}
.ButtonOk {
    color: #fff;
    background-color: #198754;
}

.ButtonLemon {
    background-color: lemonchiffon;
}

    .Button:disabled {
        color:gray !important;
        background-color: #DDDDDD !important;
    }

.Button:not(:disabled):hover {
    background-color: #5a95f5 !important;
}

/*------------------------ desktop ----------------------*/

@media (min-width:600px) {

    .HideOnDesktop {
        display: none !important;
    }
}

/*------------------------ mobiles ----------------------*/

@media (max-width:599px) {

    .HideOnMobile {
        display: none !important;
    }
}