@if (_open)
{
    <div class="modal-backdrop fade show"></div>

    <div class="modal fade show d-block" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">@Title</h5>
                    <button type="button" class="btn-close" @onclick="Close"></button>
                </div>

                <div class="modal-body">
                    @ChildContent
                </div>

                <div class="modal-footer">
                    @Footer
                </div>

            </div>
        </div>
    </div>
}
@code {
    private bool _open;

    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }

    public void Open()
    {
        _open = true;
        InvokeAsync(StateHasChanged);
    }

    public void Close()
    {
        _open = false;
        InvokeAsync(StateHasChanged);
    }

}