.StandBy {
    display: inline-block;
}

.Loader {
    display:none;
}

.Copying .StandBy {
    display:none;
}

.Copying .Loader {
    display:inline-block;
}

.CopyToClipboard:hover ::deep path {
    fill:indianred;
}
