.Wrapper label {
    border: 1px dashed gray;
/*    display: flex;
    gap: 10px;
*/    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 6px 10px;
    align-items: center;
}

    .Wrapper label:hover {
        border: 1px solid black;
        background-color: lightcyan;
    }


.Wrapper ::deep input[type=file] {
    width: 100%;
    height: 100%;
    z-index:3;
    opacity:0.0;
}

.Files {
    margin-top:15px;
}

.Item {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-template-areas: "ico filename"
        "ico features";
    grid-column-gap:15px;
}

    .Item .Icon {
        position: relative;
        grid-area:ico;
    }

        .Item .Icon .Remove {
            position: absolute;
            top: -10px;
            right: -10px;
            width: 20px;
            cursor: pointer;
        }

        .Item .Filename {
            grid-area: filename;
        }

    .Item .Features {
        grid-area:features;
    }
