<div style="width:@Width; min-width:@Width;">
    @if (Id == Ids.None)
    {
        <span>&nbsp;</span>
    }
    else if (Id == Ids.Download)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width:@Width;"><path d="M448 304h-53.5l-48 48H448c8.822 0 16 7.178 16 16V448c0 8.822-7.178 16-16 16H64c-8.822 0-16-7.178-16-16v-80C48 359.2 55.18 352 64 352h101.5l-48-48H64c-35.35 0-64 28.65-64 64V448c0 35.35 28.65 64 64 64h384c35.35 0 64-28.65 64-64v-80C512 332.7 483.3 304 448 304zM432 408c0-13.26-10.75-24-24-24S384 394.7 384 408c0 13.25 10.75 24 24 24S432 421.3 432 408zM239 368.1C243.7 373.7 249.8 376 256 376s12.28-2.344 16.97-7.031l136-136c9.375-9.375 9.375-24.56 0-33.94s-24.56-9.375-33.94 0L280 294.1V24C280 10.75 269.3 0 256 0S232 10.75 232 24v270.1L136.1 199c-9.375-9.375-24.56-9.375-33.94 0s-9.375 24.56 0 33.94L239 368.1z" /></svg>
    }
    else if (Id == Ids.ChevronDown)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width:@Width;"><path d="M432.6 209.3l-191.1 183.1C235.1 397.8 229.1 400 224 400s-11.97-2.219-16.59-6.688L15.41 209.3C5.814 200.2 5.502 184.1 14.69 175.4c9.125-9.625 24.38-9.938 33.91-.7187L224 342.8l175.4-168c9.5-9.219 24.78-8.906 33.91 .7187C442.5 184.1 442.2 200.2 432.6 209.3z" /></svg>
    }
    else if (Id == Ids.ChevronUp)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width:@Width;"><path d="M15.41 302.7l191.1-183.1C212 114.2 218 111.1 224 111.1s11.97 2.219 16.59 6.688l191.1 183.1c9.594 9.152 9.906 24.34 .7187 33.9c-9.125 9.625-24.38 9.938-33.91 .7187L224 169.2l-175.4 168c-9.5 9.219-24.78 8.906-33.91-.7187C5.502 327 5.814 311.8 15.41 302.7z" /></svg>
    }
    else if (Id == Ids.VEllipsis)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512"><!--! vertical ellipsis regular --><path d="M64 368a48 48 0 1 0 0 96 48 48 0 1 0 0-96zm0-160a48 48 0 1 0 0 96 48 48 0 1 0 0-96zM112 96A48 48 0 1 0 16 96a48 48 0 1 0 96 0z" /></svg>
    }
    else if (Id == Ids.HEllipsis)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M336 256C336 229.5 357.5 208 384 208C410.5 208 432 229.5 432 256C432 282.5 410.5 304 384 304C357.5 304 336 282.5 336 256zM176 256C176 229.5 197.5 208 224 208C250.5 208 272 229.5 272 256C272 282.5 250.5 304 224 304C197.5 304 176 282.5 176 256zM112 256C112 282.5 90.51 304 64 304C37.49 304 16 282.5 16 256C16 229.5 37.49 208 64 208C90.51 208 112 229.5 112 256z" /></svg>
    }
    else if (Id == Ids.CheckGreenCircle)
    {
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 512 512">
            <defs>
                <style>
                    path {
                        fill: green;
                    }</style>
            </defs>
            <path d="M243.8 339.8C232.9 350.7 215.1 350.7 204.2 339.8L140.2 275.8C129.3 264.9 129.3 247.1 140.2 236.2C151.1 225.3 168.9 225.3 179.8 236.2L224 280.4L332.2 172.2C343.1 161.3 360.9 161.3 371.8 172.2C382.7 183.1 382.7 200.9 371.8 211.8L243.8 339.8zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z" />
        </svg>
    }
    else if (Id == Ids.Warning)
    {
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 512 512">
            <path class="fa-primary"
                  d="M256 320C269.3 320 280 309.3 280 296v-128c0-13.25-10.75-24-23.1-24S232 154.8 232 168v128C232 309.3 242.8 320 256 320zM256 353.1c-17.36 0-31.44 14.08-31.44 31.44C224.6 401.9 238.6 416 256 416s31.44-14.08 31.44-31.44C287.4 367.2 273.4 353.1 256 353.1z" />
            <path class="fa-secondary" style="fill: #ffcc00"
                  d="M506.3 417l-213.3-364c-16.33-28-57.54-28-73.98 0l-213.2 364C-10.59 444.9 9.849 480 42.74 480h426.6C502.1 480 522.6 445 506.3 417zM232 168c0-13.25 10.75-24 24-24S280 154.8 280 168v128c0 13.25-10.75 24-23.1 24S232 309.3 232 296V168zM256 416c-17.36 0-31.44-14.08-31.44-31.44c0-17.36 14.07-31.44 31.44-31.44s31.44 14.08 31.44 31.44C287.4 401.9 273.4 416 256 416z" />
        </svg>
    }
    else if (Id == Ids.Loading)
    {
        <svg width="36" height="14" viewBox="0 0 32 14" xmlns="http://www.w3.org/2000/svg">
            <style type="text/css">
                .spinner_rect {
                    animation: dance .8s linear infinite;
                    animation-delay: -.8s
                }

                .spinner_rect2 {
                    animation-delay: -.65s
                }

                .spinner_rect3 {
                    animation-delay: -.5s
                }

                @@keyframes dance {
                    93.75%, 100% {
                        opacity: .2
                    }
                }
            </style>
            <rect class="spinner_rect" x="1" y="2" width="9" height="12" />
            <rect class="spinner_rect spinner_rect2" x="12" y="2" width="9" height="12" />
            <rect class="spinner_rect spinner_rect3" x="23" y="2" width="9" height="12" />
        </svg>
    }
    else if (Id == Ids.MagnifyingGlass)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M368 208A160 160 0 1 0 48 208a160 160 0 1 0 320 0zM337.1 371.1C301.7 399.2 256.8 416 208 416C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208c0 48.8-16.8 93.7-44.9 129.1l124 124 17 17L478.1 512l-17-17-124-124z" />
        </svg>
    }
    else if (Id == Ids.Logo4moms)
    {
        <svg height="2500" viewBox="118.9 360.8 656.7 179.3" width="2500" xmlns="http://www.w3.org/2000/svg">
            <path d="m192 362c-38.7 3.4-49.6 6.7-59.4 18.1-6.6 7.8-9.5 15.8-12.1 32.9-1.4 9.5-1.6 16.7-1.2 41.5.5 36.8 2.1 47.1 9.3 59.5 8 13.7 18.7 18.6 48.9 22.5 28.4 3.6 72.4.5 89-6.2 4.3-1.8 11.5-7.2 15.2-11.3 2.9-3.3 7.7-13.2 9.3-19.5 3.2-12.3 4.8-50.1 3-74.4-1.9-26.5-5.4-37.4-15.2-47.2-4.5-4.6-16-10.9-19.6-10.9-.9 0-4.6-.6-8.2-1.5-12.7-2.8-44.5-4.7-59-3.5zm-15.6 33.6c.3.9.6 15.6.6 32.7 0 29 .1 31.4 1.9 34.4 2.7 4.4 8.1 5.3 32 5.3 15.3 0 20.1-.3 21-1.3.7-.9 1.2-10.1 1.3-26.8l.3-25.4 8.4-.3c4.6-.2 8.9.2 9.4.7.6.6.9 10.7.8 25.3-.2 23.2-.1 24.5 1.8 26.2 1.1 1 2.4 1.5 2.9 1.2 2.2-1.3 3.3 2.4 3 10.6s-.3 8.3-3.1 8.6c-3.8.5-4.8 3.1-4.5 11.2.1 3.9-.3 7.5-.8 8-.7.7-4.6 1-9.5.8l-8.4-.3-.5-9.5-.5-9.5-28-.5c-31-.6-30.6-.5-38.6-7.7-4.6-4.1-6.8-7.8-8.6-14.3s-1.8-69.6 0-70.3c.6-.3 5.1-.6 9.8-.6 7.1-.1 8.8.2 9.3 1.5zm162.1 18.8c-12.8 3.7-21.6 12.6-25.2 25.6-.8 2.9-1.2 12-1.3 25.8v21.3l5.8-.3 5.7-.3.6-21c.3-12.6 1-22.5 1.8-24.9 1.9-5.7 8.8-12.1 15.2-14 6.3-1.9 7.9-2 13.3-.4 5.5 1.5 11.8 6.8 14.7 12 2.2 4.1 2.3 5.5 2.6 25.8.2 11.8.3 21.9.3 22.3s2.6.7 5.8.5l5.7-.3.6-21.5c.3-11.8 1-22.8 1.4-24.4.4-1.5 3.1-5.2 6-8 6.5-6.5 13.4-8.7 21.2-6.6 6.6 1.7 11.8 5.3 15 10.3l2.8 4.2.5 23 .5 23h12l-.1-23.5c-.1-26.6-.5-28.3-8.5-37.3-13.8-15.7-37.1-16.9-52-2.6-2.2 2.1-4.6 3.9-5.3 3.9-.6 0-3-1.8-5.1-4.1-4.7-4.7-8-6.5-15.3-8.5-6.1-1.6-13-1.6-18.7 0zm155 .1c-7.3 2.1-10.9 4.3-15.6 9.2-7.7 8-10.9 15.9-10.9 26.7 0 15.7 8.1 27.8 23.4 34.8 2.7 1.3 6.3 1.8 12.8 1.8 7.9 0 9.6-.3 15.1-3.1 6.4-3.1 13.2-8.8 14.8-12.4.5-1.1 1.3-2.7 1.8-3.5 3.4-5.6 4.3-10 3.9-19.1-.3-7.7-.9-10.4-3.1-15-3-6.1-10.1-13.9-15-16.4-8.2-4.2-19.2-5.4-27.2-3zm15.9 11.7c9.9 2.8 17.6 13.3 17.6 23.9 0 22.7-25.8 33.4-41.6 17.1-1.9-1.9-3.4-4.1-3.4-4.7 0-.7-.7-2.6-1.5-4.1-5.4-10.4 3.7-29.1 15.6-32 6.2-1.5 8.6-1.6 13.3-.2zm77.1-11.8c-11.9 3.4-20.2 11.5-24.9 24.4-1.3 3.4-1.6 8.7-1.6 26.2v22h12v-20.5c0-22 .6-25.3 5.8-32.2 5.1-6.9 15.6-10.5 23.8-8.3 6.4 1.7 12.9 7 15.9 13.1 2.4 4.7 2.5 5.4 2.5 26.4v21.5h12v-21.2c0-20.8 0-21.2 2.6-26.5 7.2-14.7 25.8-18.6 36.9-7.7 7.7 7.5 8.5 10.6 8.5 34.5v20.9h12v-21.8c0-18.4-.3-22.5-1.8-26.7-2.8-7.7-4.7-10.9-9.6-15.6-13.7-13-36.2-13-49.1 0-2.2 2.2-4.6 4-5.4 4.1-.7 0-3.1-1.8-5.3-4-4.7-4.6-8.3-6.6-15.6-8.6-6.1-1.6-13-1.6-18.7 0zm137.5-.1c-9.2 3-14 9.8-14 19.5 0 4.9.5 6.6 2.9 9.8 6.1 8.4 11 10.4 25.9 10.4 9.7.1 11 .3 13.6 2.4 2.3 1.9 3 3.4 3.4 7.4.4 4.4.1 5.3-2.6 8.3l-3 3.4-16.4.2c-9 .2-16.6.3-17 .3-1.4 0-.9 11 .5 11 .6.1 9 0 18.5 0 16.5-.1 17.6-.2 21.1-2.5 6-3.7 9.9-9.4 10.7-15.3 1.1-8.4-.2-13.4-4.6-18.5-6.5-7.3-10.2-8.7-23.2-8.7-9.5 0-11.5-.3-14.4-2.1-3-1.8-3.4-2.5-3.4-6.5 0-3.9.4-4.7 3.3-6.4 2.8-1.7 5-2 16.7-2 7.4 0 14.1-.4 14.8-.9.9-.5 1.2-2.5 1-5.7l-.3-4.9-15-.2c-9.1-.1-16.4.3-18.5 1zm43.8.7c-1 .6-1.4 1.8-1.1 3.1.4 1.2 0 2.5-.8 2.9-.7.5-1 1.3-.5 1.7s1.1.2 1.3-.5c.7-1.8 3-1.5 3.8.5.6 1.6.8 1.5 2.5-.7 2.1-2.7 2.6-5 1-5-.5 0-1 .9-1 2.1s-.5 1.9-1.2 1.6c-.7-.2-1.3-1.8-1.3-3.5 0-3.5-.2-3.6-2.7-2.2z" />
        </svg>
    }
    else if (Id == Ids.ShoppingCart)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path d="M24 0C10.7 0 0 10.7 0 24S10.7 48 24 48H69.5c3.8 0 7.1 2.7 7.9 6.5l51.6 271c6.5 34 36.2 58.5 70.7 58.5H488c13.3 0 24-10.7 24-24s-10.7-24-24-24H199.7c-11.5 0-21.4-8.2-23.6-19.5L170.7 288H459.2c32.6 0 61.1-21.8 69.5-53.3l41-152.3C576.6 57 557.4 32 531.1 32h-411C111 12.8 91.6 0 69.5 0H24zM131.1 80H520.7L482.4 222.2c-2.8 10.5-12.3 17.8-23.2 17.8H161.6L131.1 80zM176 512a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm336-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z" />
        </svg>
    }
    else if (Id == Ids.CircleInfo)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-114.7 0-208-93.31-208-208S141.3 48 256 48s208 93.31 208 208S370.7 464 256 464zM296 336h-16V248C280 234.8 269.3 224 256 224H224C210.8 224 200 234.8 200 248S210.8 272 224 272h8v64h-16C202.8 336 192 346.8 192 360S202.8 384 216 384h80c13.25 0 24-10.75 24-24S309.3 336 296 336zM256 192c17.67 0 32-14.33 32-32c0-17.67-14.33-32-32-32S224 142.3 224 160C224 177.7 238.3 192 256 192z" />
        </svg>
    }
    else if (Id == Ids.NoImg)
    {

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
            <path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7l-55.5-43.5c.5-3.1 .7-6.3 .7-9.6V160c0-35.3-28.7-64-64-64H438.6l-8.6-25.7C422.4 47.4 401 32 376.9 32H263.1c-24.1 0-45.5 15.4-53.1 38.3L201.4 96H154.8L38.8 5.1zM216 144h2.7c10.3 0 19.5-6.6 22.8-16.4l14-42.1c1.1-3.3 4.1-5.5 7.6-5.5H376.9c3.4 0 6.5 2.2 7.6 5.5l14 42.1c3.3 9.8 12.4 16.4 22.8 16.4H512c8.8 0 16 7.2 16 16V388.5l-98.4-77.2c1.6-7.5 2.4-15.4 2.4-23.4c0-61.9-50.1-112-112-112c-17.5 0-34.1 4-48.9 11.2L216 144zM382.6 274.6L318.1 224c.6 0 1.3 0 1.9 0c30.7 0 56.4 21.7 62.6 50.6zM487.4 480l-60.9-48H128c-8.8 0-16-7.2-16-16V184.2L65.2 147.4c-.8 4.1-1.2 8.3-1.2 12.6V416c0 35.3 28.7 64 64 64H487.4zM370.6 388l-45.9-36.1c-1.6 .1-3.1 .2-4.7 .2c-31.8 0-58.2-23.2-63.2-53.6L211 262.2c-1.9 8.3-3 16.9-3 25.8c0 61.9 50.1 112 112 112c18.2 0 35.4-4.3 50.6-12z" />
        </svg>
    }
    else if (Id == Ids.Xmark)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path d="M326.6 166.6L349.3 144 304 98.7l-22.6 22.6L192 210.7l-89.4-89.4L80 98.7 34.7 144l22.6 22.6L146.7 256 57.4 345.4 34.7 368 80 413.3l22.6-22.6L192 301.3l89.4 89.4L304 413.3 349.3 368l-22.6-22.6L237.3 256l89.4-89.4z" />
        </svg>
    }
    else if (Id == Ids.XmarkSquare)
    {

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <defs>
                <style>
                    .fa-secondary {
                        opacity: .4
                    }</style>
            </defs>
            <path class="fa-primary" d="M177 175c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47z" />
            <path class="fa-secondary" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm79 143c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
        </svg>
    }
    else if (Id == Ids.Hamburger)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M0 88C0 74.7 10.7 64 24 64H424c13.3 0 24 10.7 24 24s-10.7 24-24 24H24C10.7 112 0 101.3 0 88zM0 248c0-13.3 10.7-24 24-24H424c13.3 0 24 10.7 24 24s-10.7 24-24 24H24c-13.3 0-24-10.7-24-24zM448 408c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24s10.7-24 24-24H424c13.3 0 24 10.7 24 24z" />
        </svg>
    }
    else if (Id == Ids.XmarkCircle)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
        </svg>
    }
    else if (Id == Ids.Edit)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!--! pen-to-square-light -->
            <path class="fa-primary" d="M454.6 45.3l12.1 12.1c12.5 12.5 12.5 32.8 0 45.3L440 129.4 382.6 72l26.7-26.7c12.5-12.5 32.8-12.5 45.3 0zM189 265.6l171-171L417.4 152l-171 171c-4.2 4.2-9.6 7.2-15.4 8.6l-65.6 15.1L180.5 281c1.3-5.8 4.3-11.2 8.6-15.4zm197.7-243L166.4 243c-8.5 8.5-14.4 19.2-17.1 30.9l-20.9 90.6c-1.2 5.4 .4 11 4.3 14.9s9.5 5.5 14.9 4.3l90.6-20.9c11.7-2.7 22.4-8.6 30.9-17.1L489.4 125.3c25-25 25-65.5 0-90.5L477.3 22.6c-25-25-65.5-25-90.5 0zM80 64C35.8 64 0 99.8 0 144V432c0 44.2 35.8 80 80 80H368c44.2 0 80-35.8 80-80V304c0-8.8-7.2-16-16-16s-16 7.2-16 16V432c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48H208c8.8 0 16-7.2 16-16s-7.2-16-16-16H80z" />
        </svg>
    }
    else if (Id == Ids.Copy)
    {

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M448 352H288c-17.7 0-32-14.3-32-32V64c0-17.7 14.3-32 32-32H396.1c4.2 0 8.3 1.7 11.3 4.7l67.9 67.9c3 3 4.7 7.1 4.7 11.3V320c0 17.7-14.3 32-32 32zM497.9 81.9L430.1 14.1c-9-9-21.2-14.1-33.9-14.1H288c-35.3 0-64 28.7-64 64V320c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V115.9c0-12.7-5.1-24.9-14.1-33.9zM64 128c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H224c35.3 0 64-28.7 64-64V416H256v32c0 17.7-14.3 32-32 32H64c-17.7 0-32-14.3-32-32V192c0-17.7 14.3-32 32-32H192V128H64z" />
        </svg>
    }
    else if (Id == Ids.Eye)
    {

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path d="M118 373c-39.8-38.3-67.9-83.7-83.2-117c15.3-33.3 43.4-78.6 83.2-117c44.6-42.9 101.5-75 170-75s125.4 32.1 170 75c39.8 38.3 67.9 83.7 83.2 117c-15.3 33.3-43.4 78.6-83.2 117c-44.6 42.9-101.5 75-170 75s-125.4-32.1-170-75zM288 480c158.4 0 258-149.3 288-224C546 181.3 446.4 32 288 32S30 181.3 0 256c30 74.7 129.6 224 288 224zM192 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z" />
        </svg>
    }
    else if (Id == Ids.EyeSlash)
    {

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
            <path d="M25.9 3.4C19-2 8.9-.8 3.4 6.1S-.8 23.1 6.1 28.6l608 480c6.9 5.5 17 4.3 22.5-2.6s4.3-17-2.6-22.5L25.9 3.4zM605.5 268.3c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-51.2 0-96 14.8-133.9 36.8l27.3 21.5C244.6 74.2 280.2 64 320 64c70.4 0 127.7 32 170.8 72c43.1 40 71.9 88 85.2 120c-9.2 22.1-25.9 52-49.5 81.5l25.1 19.8c25.6-32 43.7-64.4 53.9-89zM88.4 154.7c-25.6 32-43.7 64.4-53.9 89c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c51.2 0 96-14.8 133.9-36.8l-27.3-21.5C395.4 437.8 359.8 448 320 448c-70.4 0-127.7-32-170.8-72C106.1 336 77.3 288 64 256c9.2-22.1 25.9-52 49.5-81.5L88.4 154.7zM320 384c16.7 0 32.7-3.2 47.4-9.1l-30.9-24.4c-5.4 .9-10.9 1.4-16.5 1.4c-51 0-92.8-39.8-95.8-90.1l-30.9-24.4c-.9 6-1.3 12.2-1.3 18.5c0 70.7 57.3 128 128 128zM448 256c0-70.7-57.3-128-128-128c-16.7 0-32.7 3.2-47.4 9.1l30.9 24.4c5.4-.9 10.9-1.4 16.5-1.4c51 0 92.8 39.8 95.8 90.1l30.9 24.4c.9-6 1.3-12.2 1.3-18.5z" />
        </svg>
    }
    else if (Id == Ids.Doc)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path d="M352 448V192H240c-26.5 0-48-21.5-48-48V32H64C46.3 32 32 46.3 32 64V448c0 17.7 14.3 32 32 32H320c17.7 0 32-14.3 32-32zm-.5-288c-.7-2.8-2.1-5.4-4.2-7.4L231.4 36.7c-2.1-2.1-4.6-3.5-7.4-4.2V144c0 8.8 7.2 16 16 16H351.5zM0 64C0 28.7 28.7 0 64 0H220.1c12.7 0 24.9 5.1 33.9 14.1L369.9 129.9c9 9 14.1 21.2 14.1 33.9V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64z" />
        </svg>
    }
    else if (Id == Ids.XmarkRedCircle)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path style="fill: red" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
        </svg>
    }
    else if (Id == Ids.TrashCan)
    {

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M164.2 39.5L148.9 64H299.1L283.8 39.5c-2.9-4.7-8.1-7.5-13.6-7.5H177.7c-5.5 0-10.6 2.8-13.6 7.5zM311 22.6L336.9 64H384h32 16c8.8 0 16 7.2 16 16s-7.2 16-16 16H416V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V96H16C7.2 96 0 88.8 0 80s7.2-16 16-16H32 64h47.1L137 22.6C145.8 8.5 161.2 0 177.7 0h92.5c16.6 0 31.9 8.5 40.7 22.6zM64 96V432c0 26.5 21.5 48 48 48H336c26.5 0 48-21.5 48-48V96H64zm80 80V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V176c0-8.8 7.2-16 16-16s16 7.2 16 16zm96 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V176c0-8.8 7.2-16 16-16s16 7.2 16 16zm96 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V176c0-8.8 7.2-16 16-16s16 7.2 16 16z" />
        </svg>
    }
    else if (Id == Ids.AlarmClock)
    {

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M92.2 0C41.3 0 0 41.3 0 92.2c0 18.2 5.3 35.2 14.4 49.5c4.7 7.5 14.6 9.6 22.1 4.9s9.6-14.6 4.9-22.1c-5.9-9.3-9.4-20.4-9.4-32.3C32 58.9 58.9 32 92.2 32c15.8 0 30.2 6.1 40.9 16.1c6.5 6 16.6 5.6 22.6-.8s5.6-16.6-.8-22.6C138.4 9.3 116.4 0 92.2 0zM357.1 24.6c-6.5 6-6.9 16.1-.8 22.6s16.1 6.9 22.6 .8C389.6 38.1 404 32 419.8 32C453 32 480 58.9 480 92.2c0 11.9-3.4 23-9.4 32.3c-4.7 7.5-2.6 17.3 4.9 22.1s17.3 2.6 22.1-4.9c9.1-14.3 14.4-31.3 14.4-49.5C512 41.3 470.7 0 419.8 0c-24.2 0-46.3 9.3-62.7 24.6zM59.3 507.3l50-50C148.6 491.4 199.9 512 256 512s107.4-20.6 146.7-54.7l50 50c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-50-50C459.4 395.4 480 344.1 480 288C480 164.3 379.7 64 256 64S32 164.3 32 288c0 56.1 20.6 107.4 54.7 146.7l-50 50c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0zM256 96a192 192 0 1 1 0 384 192 192 0 1 1 0-384zm16 80c0-8.8-7.2-16-16-16s-16 7.2-16 16V304c0 5 2.4 9.8 6.4 12.8l64 48c7.1 5.3 17.1 3.9 22.4-3.2s3.9-17.1-3.2-22.4L272 296V176z" />
        </svg>
    }
    else if (Id == Ids.TruckFast)
    {

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
            <path d="M128 16H352c26.5 0 48 21.5 48 48V400H236.7c-10.4-36.9-44.4-64-84.7-64c-29.8 0-56.1 14.8-72 37.4V288H64V400v16h.4c-.2 2.6-.4 5.3-.4 8c0 48.6 39.4 88 88 88s88-39.4 88-88c0-2.7-.1-5.4-.4-8H400h.4c-.2 2.6-.4 5.3-.4 8c0 48.6 39.4 88 88 88s88-39.4 88-88c0-2.7-.1-5.4-.4-8H632c4.4 0 8-3.6 8-8s-3.6-8-8-8H608V229.3c0-10.6-4.2-20.8-11.7-28.3L503 107.7c-7.5-7.5-17.7-11.7-28.3-11.7H416V64c0-35.3-28.7-64-64-64H128C92.7 0 64 28.7 64 64V96H8c-4.4 0-8 3.6-8 8s3.6 8 8 8H216c4.4 0 8-3.6 8-8s-3.6-8-8-8H80V64c0-26.5 21.5-48 48-48zM416 216V112h58.7c6.4 0 12.5 2.5 17 7L585 212.3c1.1 1.1 2.2 2.4 3 3.7H416zm0 16H592V400H572.7c-10.4-36.9-44.4-64-84.7-64c-29.8 0-56.1 14.8-72 37.4V232zM80 424a72 72 0 1 1 144 0A72 72 0 1 1 80 424zm408-72a72 72 0 1 1 0 144 72 72 0 1 1 0-144zM40 160c-4.4 0-8 3.6-8 8s3.6 8 8 8H280c4.4 0 8-3.6 8-8s-3.6-8-8-8H40zM8 224c-4.4 0-8 3.6-8 8s3.6 8 8 8H216c4.4 0 8-3.6 8-8s-3.6-8-8-8H8z" />
        </svg>
    }
    else if (Id == Ids.BoxCheck)
    {

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M240 64H342.4c12.6 0 24.1 7.4 29.2 19l34.2 77H240V64zm0 128H416V416c0 17.7-14.3 32-32 32H64c-17.7 0-32-14.3-32-32V192H208h32zm-32-32H42.1L76.3 83c5.1-11.6 16.6-19 29.2-19H208v96zM400.9 70c-10.3-23.1-33.2-38-58.5-38H105.6C80.3 32 57.4 46.9 47.1 70L5.5 163.6c-3.6 8.2-5.5 17-5.5 26V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V189.6c0-9-1.9-17.8-5.5-26L400.9 70zM331.3 251.3c6.2-6.2 6.2-16.4 0-22.6s-16.4-6.2-22.6 0L192 345.4l-52.7-52.7c-6.2-6.2-16.4-6.2-22.6 0s-6.2 16.4 0 22.6l64 64c6.2 6.2 16.4 6.2 22.6 0l128-128z" />
        </svg>
    }
    else if (Id == Ids.BoxOpen)
    {

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
            <path d="M80.4 49.5L320 77.2 559.6 49.5c14.1-1.6 27.5 6.2 33.1 19.2l32 74.7c9.8 22.9-3.5 49.1-27.8 54.7L437.8 234.8c-18.9 4.4-38.6-3.1-49.9-18.9L320 120.9l-67.9 95.1c-11.3 15.8-30.9 23.2-49.9 18.9L43 198c-24.3-5.6-37.6-31.8-27.8-54.7l32-74.7c5.6-13 19-20.8 33.1-19.2zM76.7 81.3l-32 74.7c-2 4.6 .7 9.8 5.6 10.9l159.2 36.7c6.3 1.5 12.9-1 16.6-6.3l65.1-91.2L76.7 81.3zM544 236.7l32-9.1v151c0 22-15 41.2-36.4 46.6l-208 52c-7.6 1.9-15.6 1.9-23.3 0l-208-52C79 419.7 64 400.5 64 378.5v-151l32 9.1V378.5c0 7.3 5 13.7 12.1 15.5L304 443V208c0-8.8 7.2-16 16-16s16 7.2 16 16V443l195.9-49c7.1-1.8 12.1-8.2 12.1-15.5V236.7zM348.8 106.1l65.1 91.2c3.8 5.3 10.3 7.7 16.6 6.3l159.2-36.7c4.9-1.1 7.5-6.4 5.6-10.9l-32-74.7L348.8 106.1z" />
        </svg>
    }
    else if (Id == Ids.PlusDuotone)
    {

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <defs>
                <style>
                    .fa-secondary {
                        opacity: .4
                    }</style>
            </defs>
            <path class="fa-secondary" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
        </svg>
    }
    else if (Id == Ids.ToggleOff)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" style="width:@Width;">
            <path d="M0 256C0 149.1 85.96 64 192 64H384C490 64 576 149.1 576 256C576 362 490 448 384 448H192C85.96 448 0 362 0 256zM192 112C112.5 112 48 176.5 48 256C48 335.5 112.5 400 192 400C271.5 400 336 335.5 336 256C336 176.5 271.5 112 192 112zM384 400C463.5 400 528 335.5 528 256C528 176.5 463.5 112 384 112H318.1C358.9 147.2 384 198.7 384 256C384 313.3 358.9 364.8 318.1 400H384z" />
        </svg>
    }
    else if (Id == Ids.ToggleOn)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" style="width:@Width;">
            <path style="fill:green;" d="M384 64C490 64 576 149.1 576 256C576 362 490 448 384 448H192C85.96 448 0 362 0 256C0 149.1 85.96 64 192 64H384zM384 400C463.5 400 528 335.5 528 256C528 176.5 463.5 112 384 112C304.5 112 240 176.5 240 256C240 335.5 304.5 400 384 400z" />
        </svg>
    }
    else if (Id == Ids.DoNotEnter)
    {

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M384 208C401.7 208 416 222.3 416 240V272C416 289.7 401.7 304 384 304H128C110.3 304 96 289.7 96 272V240C96 222.3 110.3 208 128 208H384zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z" />
        </svg>
    }
    else if (Id == Ids.Label)
    {

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M88 144C88 130.7 98.75 120 112 120C125.3 120 136 130.7 136 144C136 157.3 125.3 168 112 168C98.75 168 88 157.3 88 144zM.0003 80C.0003 53.49 21.49 32 48 32H197.5C214.5 32 230.7 38.74 242.7 50.75L418.7 226.7C443.7 251.7 443.7 292.3 418.7 317.3L285.3 450.7C260.3 475.7 219.7 475.7 194.7 450.7L18.75 274.7C6.743 262.7 0 246.5 0 229.5L.0003 80zM41.37 252.1L217.4 428.1C229.9 440.6 250.1 440.6 262.6 428.1L396.1 294.6C408.6 282.1 408.6 261.9 396.1 249.4L220.1 73.37C214.1 67.37 205.1 64 197.5 64H48C39.16 64 32 71.16 32 80V229.5C32 237.1 35.37 246.1 41.37 252.1L41.37 252.1zM41.37 252.1L18.75 274.7z" />
        </svg>
    }
</div>
@code {
    [Parameter] public Ids Id { get; set; }
    [Parameter] public string Width { get; set; } = "1rem";

    string? style;

    public enum Ids
    {
        None,
        Download,
        ChevronDown,
        ChevronUp,
        HEllipsis,
        VEllipsis,
        CheckGreenCircle,
        Warning,
        Loading,
        NoImg,
        MagnifyingGlass,
        Logo4moms,
        ShoppingCart,
        CircleInfo,
        Xmark,
        XmarkSquare,
        XmarkCircle,
        XmarkRedCircle,
        Hamburger,
        Edit,
        Copy,
        Eye,
        EyeSlash,
        Doc,
        TrashCan,
        AlarmClock,
        TruckFast,
        BoxCheck,
        BoxOpen,
        PlusDuotone,
        ToggleOn,
        ToggleOff,
        DoNotEnter,
        Label
    }


}
