.Wrapper {
    display: flex;
    gap: 10px;
}

input {
    width: 100%;
}

a {
    display: block;
}

a.Hidden {
    display:none;
}

svg {
    height: 30px;
    width: auto;
}

    svg:hover .fa-secondary {
        opacity: 1.0;
    }

.CallToAction {
}
