@using PropertyGridTest.Components.PropertyGrid.Internal
@using PropertyGridTest.Components.PropertyGrid.Metadata

<div class="pg-object-editor">
    @if (Node?.Instance != null)
    {
        <PropertyGrid Model="Node.Instance" />
    }
</div>

@code {
    [Parameter] public ObjectNode Node { get; set; }
}