.Layout {
    display: grid;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    grid-area: header;
    padding: 20px 0 10px;
}

/*issues found?*/

aside {
    grid-area: aside;
}



main {
    grid-area: main;
    padding: 10px;
    min-width: 0;
}

.Hamburger {
    display: block;
    width: 24px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media(max-width:599px) {
    .Layout {
        grid-template-areas: "header"
            "main";
    }

        .Layout.IsToggledMenu {
            grid-template-areas: "header"
                "aside";
        }

        .Layout aside {
            display: none;
        }

        .Layout.IsToggledMenu aside {
            display: block;
        }

        .Layout.IsToggledMenu main {
            display: none;
        }

    header .Username {
        padding-left: 10px;
    }

    aside {
        width: 100%;
        border-right: 1px solid #DDDDDD;
    }
}

@media(min-width:600px) {
    .Layout {
        grid-template-areas: "header header"
            "aside main";
        grid-template-columns: 150px 1fr;
    }

        .Layout.IsToggledMenu {
            grid-template-areas: "header header"
                "main main";
        }

            .Layout.IsToggledMenu aside {
                display: none;
            }

    header .Username {
        padding-left: 15px;
    }
}
