.Wrapper {
    max-width:400px;
}

.Grid {
    margin-top: 20px;
    display: grid;
    grid-column-gap: 10px;
}


.Item {
    display: contents;
}




/*------------------------ mobiles ----------------------*/

@media (max-width:599px) {
    .Grid {
        grid-template-columns: min-content 1fr;
        grid-gap:10px;
    }

    .Pdf, .Year {
        display:flex;
        flex-direction: column;
        justify-content: center;
    }


}

/*------------------------ desktop ----------------------*/

@media(min-width:600px) {
    .Grid {
        grid-template-columns: min-content 1fr;
        grid-row-gap: 5px;
        grid-column-gap: 10px;
    }

    .Pdf, .Year {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
