.Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap:10px;
}

.Membrete {
    display: flex;
    gap: 7px;
    align-items: center;
}

    .Membrete img {
        max-width: 100%;
        max-height:32px;
        height:auto;
        width:auto;
    }


    .Hamburger {
        width:32px;
        height:32px;
    }

/* ------------- desktop -----------------*/

/*@media screen and (min-width:599px) {
    .Hamburger {
        display: none;
    }
}
*/
/* ------------- mobiles -----------------*/

@media screen and (max-width:600px) {

}