.Display {
    display: flex;
    justify-content: space-between;
}

.Header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /*padding:0 10px 0;*/
}

.Brands a {
    display: block;
}

.Bar {
    display: flex;
    gap: 10px;
    align-items: baseline;
}


.Modal {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    min-height: 100px;
    width: 50vw;
    margin: 10px auto;
    background: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
