.Grid {
    display:grid;
    grid-template-columns:min-content min-content min-content 1fr 1fr;
    grid-column-gap: 10px;
}

.ColHeaders {
    display: contents;
}

.Item {
    display: contents;
}

.Item .Text {
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}