<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  

    <system.serviceModel>
      <bindings>
        <basicHttpsBinding>
          <binding name="siiBinding" maxBufferPoolSize="6000000" maxReceivedMessageSize="6000000">
            <security mode="Transport" />
          </binding>
          <binding name="siiBinding1" maxBufferPoolSize="6000000" maxReceivedMessageSize="6000000">
            <security mode="Transport" />
          </binding>
          <binding name="siiBinding2" maxBufferPoolSize="6000000" maxReceivedMessageSize="6000000">
            <security mode="Transport" />
          </binding>
          <binding name="siiBinding3" maxBufferPoolSize="6000000" maxReceivedMessageSize="6000000">
            <security mode="Transport" />
          </binding>
          <binding name="siiBinding4" maxBufferPoolSize="6000000" maxReceivedMessageSize="6000000">
            <security mode="Transport" />
          </binding>
          <binding name="siiBinding5" maxBufferPoolSize="6000000" maxReceivedMessageSize="6000000">
            <security mode="Transport" />
          </binding>
          <binding name="siiBinding6" />
          <binding name="siiBinding7" />
        </basicHttpsBinding>
      </bindings>
      
        <client>
            <endpoint address="https://www1.agenciatributaria.gob.es/wlpl/SSII-FACT/ws/fe/SiiFactFEV1SOAP" binding="basicHttpsBinding" bindingConfiguration="siiBinding3" contract="SoapFacturasEmitidas.siiSOAP" name="SuministroFactEmitidas" />
            <endpoint address="https://www10.agenciatributaria.gob.es/wlpl/SSII-FACT/ws/fe/SiiFactFEV1SOAP" binding="basicHttpsBinding" bindingConfiguration="siiBinding4" contract="SoapFacturasEmitidas.siiSOAP" name="SuministroFactEmitidasSello" />
            <endpoint address="https://www7.aeat.es/wlpl/SSII-FACT/ws/fe/SiiFactFEV1SOAP" binding="basicHttpsBinding" bindingConfiguration="siiBinding5" contract="SoapFacturasEmitidas.siiSOAP" name="SuministroFactEmitidasPruebas" />
            <endpoint address="https://www1.agenciatributaria.gob.es/wlpl/SSII-FACT/ws/fr/SiiFactFRV1SOAP" binding="basicHttpsBinding" bindingConfiguration="siiBinding" contract="SoapFacturasRecibidas.siiSOAP" name="SuministroFactRecibidas" />
            <endpoint address="https://www10.agenciatributaria.gob.es/wlpl/SSII-FACT/ws/fr/SiiFactFRV1SOAP" binding="basicHttpsBinding" bindingConfiguration="siiBinding1" contract="SoapFacturasRecibidas.siiSOAP" name="SuministroFactRecibidasSello" />
            <endpoint address="https://www7.aeat.es/wlpl/SSII-FACT/ws/fr/SiiFactFRV1SOAP" binding="basicHttpsBinding" bindingConfiguration="siiBinding2" contract="SoapFacturasRecibidas.siiSOAP" name="SuministroFactRecibidasPruebas" />
        </client>
    </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
