@inject UsersApi UsersApi
@inject ApplicationsApi AppsApi
@inject RolesApi RolesApi

@if (selectedUser == null)
{
    <UsersList Users="users"
               SelectedUserId="selectedUser?.Id"
               OnUserSelected="HandleSelectUser"
               OnCreateUser="HandleCreateUser"
               OnDeleteUser="HandleDeleteUser" />
}
else
{
    <h3>Users</h3>

    <UserEditor User="selectedUser"
                Applications="applications"
                RolesApi="RolesApi"
                UsersApi="UsersApi"
                OnClose="HandleCloseEditor"
                OnSaved="HandleUserSaved" />
}

<Error Errors="_errors" OnClear="HandleClear" />

@code {
    private List<UserDto>? users;
    private List<ApplicationDto>? applications;
    private UserDto? selectedUser;
    private List<string>? _errors;

    protected override async Task OnInitializedAsync()
    {
        (users, _errors) = await UsersApi.GetUsersAsync();
        (applications, _errors) = await AppsApi.GetApplicationsAsync();
    }

    private void HandleSelectUser(UserDto user)
    {
        selectedUser = user;
    }

    private void HandleCreateUser()
    {
        selectedUser = new UserDto(); // new blank user for editor
    }

    private async Task HandleDeleteUser(UserDto user)
    {
    }

    private void HandleCloseEditor()
    {
        selectedUser = null;
    }

    private void HandleUserSaved(UserDto updatedUser)
    {
        var existing = users!.FirstOrDefault(u => u.Id == updatedUser.Id);

        if (existing == null)
        {
            // new user created
            users.Add(updatedUser);
        }
        else
        {
            // update existing user
            var index = users.IndexOf(existing);
            users[index] = updatedUser;
        }

        selectedUser = null;
    }

    private async Task HandleClear()
    {
        _errors?.Clear();
        await InvokeAsync(StateHasChanged);
    }
}