.Wrapper {
    padding:10px;
}

.Gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:10px;
    padding: 10px 0;
}

.Item {
    display: block;
    text-align: center;
}

    .Item .Caption {
        font-family: bc-novatica-cyr,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        font-size: 30px;
        font-weight: 700;
        color:#AAAAAA;
    }

    .Item:hover .Caption {
        color: #333333;
    }

.Item img{
    max-width:100%;
    height:auto;
}

@media(max-width:499px){
    .Gallery {
        display: flex;
        flex-direction:column;
        gap:10px;
        justify-content: center;
        margin:auto;
    }
}