.Wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: row;
    gap: 20px;
}

a {
    position: relative;
    max-width: 410px;
    display: flex;
    flex-direction: column;
}


        a img {
            width: 100%;
        }


.Caption {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 20px;
    padding: 10px !important;
    background-color: rgba(0,0,0,0.3);
    font-size: 1.7vw !important;
    font-weight: 700;
    color: white;
    flex: 1 1 0;
    box-sizing: border-box;
}



@@media (max-width: 700px) {
    .Wrapper {
        grid-template-columns: minmax(0, 1fr);
    }

    .Caption {
        font-size: 1.5em;
        font-weight: 700;
        color: white;
        flex: 1 1 0;
    }
}
